<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Gibson News&amp;Event</title>

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="css/sub_header.css">
    <link rel="stylesheet" href="css/sub_news.css">
    <link rel="stylesheet" href="../css/footer.css">

    <script src="../js/jquery-1.12.4.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/jquery.rotate.js"></script>
    <script src="js/sub_main.js"></script>
    <script src="js/sub_news.js"></script>

</head>

<body>

    <header>
        <div class="header_wrap clearfix">
            <div class="logo_box">
                <a href="../index.html"><img src="../imgs/logo/gibson_small.png" alt="Gibson"></a>
            </div>

            <nav class="clearfix">
                <ul class="main_menu clearfix">
                    <li>
                        <a href="#">깁슨소개<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_history.html">연혁<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_feature.html">깁슨 기타의 특징<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_maintaining.html">기타 관리 노하우<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">제품구매<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_electric.html">일렉트릭 기타<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_acoustic.html">어쿠스틱 기타<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_acc.html">부품<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">깁슨의 음악<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_musicians.html">깁슨 뮤지션 스토리<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_play.html">기타 배우기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">고객지원<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_fix.html">수리/튜닝 신청<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_dealers.html">서비스센터/대리점 찾기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_news.html">소식&amp;이벤트<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_FAQ.html">FAQ<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_rent.html">악기 렌트하기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <ul class="user_menu">
                <li><a href="#"><img src="../imgs/icons/user_white.png" alt="Login"></a></li>
                <li><a href="#" class="magnifying"><img src="../imgs/icons/magnifying_white.png" alt="Search"></a></li>
                <li class="global">
                    <a href="#"><img src="../imgs/icons/global_white.png" alt="Language"></a>
                    <ul class="language">
                        <li><a href="#">한국어</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </li>
                <li><a href="#" class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a></li>
            </ul>

        </div>
    </header>

    <main>
        <h1>소식 &amp; 이벤트</h1>
        <h2>News &amp; Event</h2>
    </main>

    <section class="curiosity">
        <div class="curiosity_wrap">
            <h3>당신이 궁금해 할 만한 소식</h3>
            <div class="cbox_t clearfix">
                <div class="cbox1"><a href="https://www.latimes.com/entertainment/envelope/cotown/la-et-ct-bb-king-lucille-and-gibson-how-a-lifelong-partnership-blossomed-20150518-story.html">
                        <img src="imgs/curiosity01.jpg" alt="BB King's Episode">
                        <p>BB King, 깁슨 때문에 죽을 뻔 하다?</p>
                    </a>
                </div>

                <div class="cbox_r">
                    <div class="cbox2"><a href="https://www.tennessean.com/story/entertainment/2020/01/15/gibson-guitars-jc-curleigh-interview-ceo-president-casts-vision-post-bankruptcy-les-paul-new-product/2673741001/">
                            <img src="imgs/curiosity02.jpg" alt="bankruptcy">
                            <p>깁슨의 파산 위기, 그 이후</p>
                        </a>
                    </div>
                    <div class="cbox3"><a href="https://musicalinstrumentpro.com/why-are-gibson-guitars-so-expensive/">
                            <img src="imgs/curiosity03.jpg" alt="why is Gibson solid">
                            <p>깁슨의 견고함, 그 이유는?</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="cbox_b clearfix">
                <div class="cbox4"><a href="#">
                        <img src="imgs/curiosity04.jpg" alt="Gibson vs Fender">
                        <p>깁슨 VS 펜더, 기타의 왕좌는?</p>
                    </a>
                </div>
                <div class="cbox5"><a href="https://acousticguitar.com/bob-dylans-acoustic-guitars-how-to-emulate-his-sound/">
                        <img src="imgs/curiosity05.jpg" alt="Bob Dylan and Gibson">
                        <p>밥 딜런, 깁슨을 말하다</p>
                    </a>
                </div>
                <div class="cbox6"><a href="https://guitargearfinder.com/faq/electric-guitar-weight/">
                        <img src="imgs/curiosity06.jpg" alt="Why is Gibson heavy">
                        <p>왜 깁슨의 기타는 무거울까?</p>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="news">
        <div class="news_wrap">
            <h3>깁슨 NEWS</h3>
            <div class="news_con">
                <div class="news_row clearfix">
                    <div class="left">
                        <p><a href="https://www.graceland.com/blog/posts/elvis-presleys-guitars/">앨비스 프레슬리가 사랑한 깁슨 기타는?</a></p>
                        <a href="https://www.graceland.com/blog/posts/elvis-presleys-guitars/"><img src="imgs/news01.jpg" alt="Elvis and Gibson"></a>
                    </div>
                    <div class="right">
                        <a href="https://edition.cnn.com/2015/11/08/entertainment/john-lennon-guitar-auction/index.html"><img src="imgs/news02.jpg" alt="Jogn Lenon's lost guitar"></a>
                        <p><a href="https://edition.cnn.com/2015/11/08/entertainment/john-lennon-guitar-auction/index.html">존 레논의 잃어버린 어쿠스틱 기타, $2.4 million에 판매!</a></p>
                    </div>
                </div>
                <div class="news_row clearfix">
                    <div class="left">
                        <p><a href="https://www.tennessean.com/story/entertainment/music/2021/05/27/gibson-garage-americana-awards-morgan-wallen-the-pick/7465341002/">Gibson Garage 오픈!</a></p>
                        <a href="https://www.tennessean.com/story/entertainment/music/2021/05/27/gibson-garage-americana-awards-morgan-wallen-the-pick/7465341002/"><img src="imgs/news03.jpg" alt="Gibson Garage"></a>
                    </div>
                    <div class="right">
                        <a href="https://edition.cnn.com/2020/03/06/us/gibson-nashville-musicians-guitars-tornadoes-trnd/index.html"><img src="imgs/news04.jpg" alt="Gibson's compensation"></a>
                        <p><a href="https://edition.cnn.com/2020/03/06/us/gibson-nashville-musicians-guitars-tornadoes-trnd/index.html">깁슨, 네슈빌 뮤지션들에게 토네이도로 인해 손상되거나 잃어버린 기타에 대한 보상을 해주기로 결정하다</a></p>
                    </div>
                </div>
                <div class="news_row clearfix">
                    <div class="left">
                        <p><a href="https://edition.cnn.com/2015/02/09/entertainment/les-paul-electric-guitar-auction/index.html">레스폴의 원형은 낙찰가 얼마에 팔렸나?</a></p>
                        <a href="https://edition.cnn.com/2015/02/09/entertainment/les-paul-electric-guitar-auction/index.html"><img src="imgs/news05.jpg" alt="Gibson's Original"></a>
                    </div>
                    <div class="right">
                        <a href="https://money.cnn.com/2015/06/05/news/beatles-lennon-guitar-auction/index.html"><img src="imgs/news06.jpg" alt="J-160E"></a>
                        <p><a href="https://money.cnn.com/2015/06/05/news/beatles-lennon-guitar-auction/index.html">존 레논의 어쿠스틱 기타 Gibson J-160E, $800,000에 팔릴 예정!</a></p>
                    </div>
                </div>
                <div class="news_row clearfix">
                    <div class="left">
                        <p><a href="https://www.washingtonpost.com/news/morning-mix/wp/2016/06/29/scotty-moore-co-founder-of-rock-n-roll-and-elvis-presleys-guitarist-dies-at-84/">엘비스 프레슬리의 기타리스트이자 함께 Rock&amp;Roll을 만든 인물 Scotty Moore, 84세의 나이로 세상을 떠나다.</a></p>
                        <a href="https://www.washingtonpost.com/news/morning-mix/wp/2016/06/29/scotty-moore-co-founder-of-rock-n-roll-and-elvis-presleys-guitarist-dies-at-84/"><img src="imgs/news07.jpg" alt="Scotty Moore"></a>
                    </div>
                    <div class="right">
                        <a href="https://edition.cnn.com/videos/entertainment/2020/09/14/lukas-nelson-staying-busy-during-quarantine.cnn"><img src="imgs/news08.jpg" alt="Lukas Nelson"></a>
                        <p><a href="https://edition.cnn.com/videos/entertainment/2020/09/14/lukas-nelson-staying-busy-during-quarantine.cnn">Lukas Nelson, 새롭게 커스텀한 깁슨과 함께 밴드의 새로운 앨범 발매</a></p>
                    </div>
                </div>
                <div class="news_row clearfix">
                    <div class="left">
                        <p><a href="https://www.whereseric.com/the-vault/guitars-amps-and-related-equipment/gibson-guitars-eric-claptons-history-gibson#:~:text=Eric%20Clapton%20built%20his%20reputation,1965%20up%20until%20about%201970.&text=It%20was%20a%201964%20Cherry,at%20auction%20in%20June%202004">깁슨과 함께한 에릭 클랩튼의 기타 히스토리</a></p>
                        <a href="https://www.whereseric.com/the-vault/guitars-amps-and-related-equipment/gibson-guitars-eric-claptons-history-gibson#:~:text=Eric%20Clapton%20built%20his%20reputation,1965%20up%20until%20about%201970.&text=It%20was%20a%201964%20Cherry,at%20auction%20in%20June%202004"><img src="imgs/news09.jpg" alt="Eric Clapton and Gibson"></a>
                    </div>
                    <div class="right">
                        <a href="https://www.guitarworld.com/features/the-strange-case-of-the-missing-beano-where-is-eric-claptons-stolen-les-paul"><img src="imgs/news10.jpg" alt="Beano"></a>
                        <p><a href="https://www.guitarworld.com/features/the-strange-case-of-the-missing-beano-where-is-eric-claptons-stolen-les-paul">에릭 클랩튼의 도둑맞은 레스폴 Beano는 어디에 있을까?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="family_site">
            <h4>VISIT THE GIBSON BRANDS FAMILY</h4>
            <ul class="clearfix">
                <li><a href="http://www.steinberger.com/"><img src="../imgs/logo/Steinberger.jpg" alt="Steinberger"></a></li>
                <li class="krk"><a href="https://www.krkmusic.com/"><img src="../imgs/logo/KRK.jpg" alt="KRK"></a></li>
                <li><a href="https://www.epiphone.com/"><img src="../imgs/logo/Epiphone.jpg" alt="Epiphone"></a></li>
                <li><a href="https://www.kramerguitars.com/"><img src="../imgs/logo/Kramer.jpg" alt="Kramer"></a></li>
                <li><a href="https://mesaboogie.com/"><img src="../imgs/logo/MesaBoogie.jpg" alt="Mesa Boogie"></a></li>
            </ul>
        </div>

        <div class="footer_bottom">
            <div class="footer_menu clearfix">
                <div class="footer_left">
                    <ul>
                        <li><a href="sub_dealers.html">구매 가능 매장 찾기(온/오프라인)</a></li>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">개인정보취급방침</a></li>
                        <li><a href="sub_dealers.html">서비스센터 찾기</a></li>
                    </ul>

                    <p>Copyright 2020 Gibson Brands, Inc. All rights reserved.</p>
                </div>
                <div class="footer_right">
                    <div class="sns">
                        <p>팔로우하기</p>
                        <a href="https://www.instagram.com/gibsonguitar/" class="instagram">Instagram</a>
                        <a href="https://www.facebook.com/Gibson/" class="facebook">Facebook</a>
                        <a href="https://twitter.com/gibsonguitar" class="twitter">Twitter</a>
                        <a href="https://www.linkedin.com/company/gibson-guitar" class="linkedin">Linkedin</a>
                        <a href="https://www.youtube.com/c/gibsonguitar" class="youtube">Youtube</a>
                    </div>
                    <div class="apps">
                        <p>다운로드</p>
                        <a href="https://play.google.com/store/apps/details?id=com.zoundio.amped&hl=en_US&gl=US" class="google">Google Play Store</a>
                        <a href="https://apps.apple.com/us/app/gibson/id1116032929" class="apple">App Store</a>
                    </div>

                    <p>Customer Support(US &amp; Canada): <span>1-800-4</span></p>
                </div>
            </div>
        </div>

    </footer>

</body>

</html>
