<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Gibson Electric Guitar</title>

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="css/sub_header.css">
    <link rel="stylesheet" href="css/sub_electric.css">
    <link rel="stylesheet" href="../css/footer.css">

    <script src="../js/jquery-1.12.4.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/jquery.rotate.js"></script>
    <script src="js/sub_guitars.js"></script>
</head>

<body>
    <header>
        <div class="header_wrap clearfix">
            <div class="logo_box">
                <a href="../index.html"><img src="../imgs/logo/gibson_small.png" alt="Gibson"></a>
            </div>

            <nav class="clearfix">
                <ul class="main_menu clearfix">
                    <li>
                        <a href="#">깁슨소개<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_history.html">연혁<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_feature.html">깁슨 기타의 특징<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_maintaining.html">기타 관리 노하우<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">제품구매<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_electric.html">일렉트릭 기타<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_acoustic.html">어쿠스틱 기타<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_acc.html">부품<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">깁슨의 음악<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_musicians.html">깁슨 뮤지션 스토리<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_play.html">기타 배우기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">고객지원<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_fix.html">수리/튜닝 신청<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_dealers.html">서비스센터/대리점 찾기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_news.html">소식&amp;이벤트<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_FAQ.html">FAQ<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_rent.html">악기 렌트하기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <ul class="user_menu">
                <li><a href="#"><img src="../imgs/icons/user_white.png" alt="Login"></a></li>
                <li><a href="#" class="magnifying"><img src="../imgs/icons/magnifying_white.png" alt="Search"></a></li>
                <li class="global">
                    <a href="#"><img src="../imgs/icons/global_white.png" alt="Language"></a>
                    <ul class="language">
                        <li><a href="#">한국어</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </li>
                <li><a href="#" class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a></li>
            </ul>

        </div>
    </header>

    <div class="main">
        <h1>일렉트릭 기타</h1>
        <h2>Electric Guitar</h2>
    </div>
    
    <div class="inbody">
        <div class="guitar_menu clearfix">
            <ul class="clearfix">
                <li><a href="#">Les Paul</a></li>
                <li><a href="#">SG</a></li>
                <li><a href="#">ES</a></li>
                <li><a href="#">Designers</a></li>
            </ul>
        </div>

        <section class="guitar_list">
            <div class="lespaul clearfix">
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/LesPaul_Standard'50s.png" alt="Les Paul Standard 50s">
                    <p>Les Paul Standard 50s</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/LesPaul_Standard'60s.png" alt="Les Paul Standard 60s">
                    <p>Les Paul Standard 60s</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/LesPaul_Special.png" alt="Les Paul Special">
                    <p>Les Paul Standard Special</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/LesPaul_Junior.png" alt="Les Paul Standard Junior">
                    <p>Les Paul Standard Junior</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/LesPaul_70sDeluxe.png" alt="Les Paul Standard 70s Deluxe">
                    <p>Les Paul Standard 70s Deluxe</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/LesPaul_Modern.png" alt="Les Paul Modern">
                    <p>Les Paul Modern</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/1958_LesPaul_StandardWashedCherrySunburstUltraLightAged.png" alt="Les Paul 1958">
                    <p>1958 Les Paul Standard Washed Cherry Sunburst Ultra Light Aged.png</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/LesPaul_SpecialTribute-Humbucker.png" alt="Les Paul Standard 50s">
                    <p>Les Paul Special Tribute - Humbucker</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/LesPaul_Classic.png" alt="Les Paul Classic">
                    <p>Les Paul Standard Classic</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/LesPaul_Studio.png" alt="Les Paul Studio">
                    <p>Les Paul Standard Studio</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/LesPaul_AxcessStandardFiguredFloydRoseGloss.png" alt="Les Paul Standard Figured Floyd Rose Gloss">
                    <p>Les Paul Axcess Standard Figured Floyd Rose Gloss</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/LesPaul_AxcessCustomFiguredTopw.png" alt="Les Paul Axcess Custom Figured Top W">
                    <p>Les Paul Axcess Custom Figured Top W</p>
                </div>
            </div>

            <div class="sg clearfix">
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/SG_Standard'61.png" alt="SG Standard 61">
                    <p>SG Standard 61</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/SG_Standard'61MaestroVibrola.png" alt="SG Standard 61 Maestro Vibrola">
                    <p>SG Standard 61 Maestro Vibrola</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/SG_Standard'61SidewaysVibrola.png" alt="SG Standard 61 Sideways Vibrola">
                    <p>SG Standard 61 Sideways Vibrola</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/SG_Special.png" alt="SG Special">
                    <p>SG Special</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/SG_Tribute.png" alt="SG Standard Tribute">
                    <p>SG Standard Tribute</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/SG_Custom2-Pickupw_EbonyFingerboardGloss.png" alt="SG Custom 2-Pickup w/Ebony Fingerboard Gloss">
                    <p>SG Custom 2-Pickup w/Ebony Fingerboard Gloss</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/SG_Modern.png" alt="SG Modern">
                    <p>SG Modern</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/SG_Standard'61-Ebony.png" alt="SG Standard 61 - Ebony">
                    <p>SG Standard 61 - Ebony</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/sg_standard.png" alt="SG Standard">
                    <p>SG Standard</p>
                </div>
            </div>

            <div class="es clearfix">
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/es-335.png" alt="ES-335">
                    <p>ES-335</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/ES-345.png" alt="ES-345">
                    <p>ES-345</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/ES-335_Figured.png" alt="ES-335 Figured">
                    <p>ES-335 Figured</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/ES-335_P-90.png" alt="ES-335 P-90">
                    <p>ES-335 P-90</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/ES-339.png" alt="ES-339">
                    <p>ES-339</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/ES-339_Figured.png" alt="ES-339 Figured">
                    <p>ES-339 Figured</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/ES-335_Satin.png" alt="ES-335 Satin">
                    <p>ES-335 Satin</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/1959_ES-335_Reissue.png" alt="1959_ES-335 Reissue">
                    <p>1959 ES-335 Reissue</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/1959_ES-355Reissue.png" alt="1959 ES-355 Reissue">
                    <p>1959 ES-355 Reissue</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/1959_ES-335_VintageNaturalUltraHeavyAged.png" alt="1959 ES-335 Vintage Natural Ultra Heavy Aged">
                    <p>1959 ES-335 Vintage Natural Ultra Heavy Aged</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/1959_ES-355WatermelonRedLightAged.png" alt="1959 ES-355 Watermelon Red Light Aged">
                    <p>1959 ES-355 Watermelon Red Light Aged</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/ChuckBerry_1955ES-350T.png" alt="ChuckBerry 1955 ES-350-T">
                    <p>ChuckBerry 1955 ES-350-T</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/SlimHarpo_Lovell_ES-330.png" alt="Slim Harpo Lovell ES-330.png">
                    <p>Slim Harpo Lovell ES-330</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/MarcusKing1962_ES-345WithSidewaysVibrola.png" alt="Marcus King 1962 ES-345 with Sideways Vibrola">
                    <p>Marcus King 1962 ES-345 with Sideways Vibrola</p>
                </div>
            </div>


            <div class="designers clearfix">
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/flyingV.png" alt="Flying V">
                    <p>Flying V</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/Explorer.png" alt="Explorer">
                    <p>Explorer</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/70s_FlyingV.png" alt="70s Flying V">
                    <p>70s Flying V</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/70s_FlyingV-Ebony.png" alt="70s Flying V Ebony">
                    <p>70s Flying V Ebony</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/1963_FirebirdVWithMaestroVibrolaAntiqueFrostBlueHeavyAged.png" alt="1963 Firebird V With Maestro Vibrola Antique Frost Blue Heavy Aged">
                    <p>1963 Firebird V With Maestro Vibrola Antique Frost Blue Heavy Aged</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/1963_FirebirdVWithMaestroVibrolaCardinalRedLightAged.png" alt="1963 Firebird V with Maestro Vibrola Cardinal Red Light Aged">
                    <p>1963 Firebird V with Maestro Vibrola Cardinal Red Light Aged</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/1963_FirebirdVWithMaestroVibrolaEmberRedUltraLightAged.png" alt="1963 Firebird V with Maestro Vibrola Ember Red Ultra Light Aged">
                    <p>1963 Firebird V with Maestro Vibrola Ember Red Ultra Light Aged</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/1963_FirebirdVWithMaestroVibrolaPelhamBlueUltraLightAged.png" alt="1963 Firebird V with Maestro Vibrola Pelham Blue Ultra Light Aged">
                    <p>1963 Firebird V with Maestro Vibrola Pelham Blue Ultra Light Aged</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/JimiHendrix1969_FlyingV.png" alt="Jimi Hendrix 1969 Flying V">
                    <p>Jimi Hendrix 1969 Flying V</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/JimiHendrix1969FlyingV_Left-Handed.png" alt="Jimi Hendrix 1969 Flying V Left-Handed">
                    <p>Jimi Hendrix 1969 Flying V Left-Handed</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/JimiHendrix_1967SGCustom.png" alt="Jimi Hendrix 1967 SG Custom">
                    <p>Jimi Hendrix 1967 SG Custom</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/bbkingLucille.png" alt="BB king Lucille">
                    <p>BB king Lucille</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/BrianRay'62SGJunior.png" alt="Brian Ray 62 SG Junior">
                    <p>Brian Ray 62 SG Junior</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="imgs/guitars/electric/KirkDouglasSignature_SG.png" alt="Kirk Douglas Signature SG">
                    <p>Kirk Douglas Signature SG</p>
                </div>
            </div>
        </section>
    </div>

    <footer>
        <div class="family_site">
            <h4>VISIT THE GIBSON BRANDS FAMILY</h4>
            <ul class="clearfix">
                <li><a href="http://www.steinberger.com/"><img src="../imgs/logo/Steinberger.jpg" alt="Steinberger"></a></li>
                <li class="krk"><a href="https://www.krkmusic.com/"><img src="../imgs/logo/KRK.jpg" alt="KRK"></a></li>
                <li><a href="https://www.epiphone.com/"><img src="../imgs/logo/Epiphone.jpg" alt="Epiphone"></a></li>
                <li><a href="https://www.kramerguitars.com/"><img src="../imgs/logo/Kramer.jpg" alt="Kramer"></a></li>
                <li><a href="https://mesaboogie.com/"><img src="../imgs/logo/MesaBoogie.jpg" alt="Mesa Boogie"></a></li>
            </ul>
        </div>

        <div class="footer_bottom">
            <div class="footer_menu clearfix">
                <div class="footer_left">
                    <ul>
                        <li><a href="#">구매 가능 매장 찾기(온/오프라인)</a></li>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">개인정보취급방침</a></li>
                        <li><a href="#">서비스센터 찾기</a></li>
                    </ul>

                    <p>Copyright 2020 Gibson Brands, Inc. All rights reserved.</p>
                </div>
                <div class="footer_right">
                    <div class="sns">
                        <p>팔로우하기</p>
                        <a href="https://www.instagram.com/gibsonguitar/" class="instagram">Instagram</a>
                        <a href="https://www.facebook.com/Gibson/" class="facebook">Facebook</a>
                        <a href="https://twitter.com/gibsonguitar" class="twitter">Twitter</a>
                        <a href="https://www.linkedin.com/company/gibson-guitar" class="linkedin">Linkedin</a>
                        <a href="https://www.youtube.com/c/gibsonguitar" class="youtube">Youtube</a>
                    </div>
                    <div class="apps">
                        <p>다운로드</p>
                        <a href="https://play.google.com/store/apps/details?id=com.zoundio.amped&hl=en_US&gl=US" class="google">Google Play Store</a>
                        <a href="https://apps.apple.com/us/app/gibson/id1116032929" class="apple">App Store</a>
                    </div>

                    <p>Customer Support(US &amp; Canada): <span>1-800-4</span></p>
                </div>
            </div>
        </div>

    </footer>

</body></html>
