@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

/*//Gibson header///////////////////////////////////////*/
header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    z-index: 9998;
}

.logo_box {
    height: 80px;
    text-align: center;
    /*outline: 2px solid red;*/
}

.logo_box a img {
    margin-top: 10px;
}

.header_wrap nav {
    width: 100%;
    /*outline: 2px solid yellow;*/
}

nav .main_menu {
    width: 60%;
    padding: 0 20%;
    margin: 0 auto;
    transition: all .3s;
}

nav .main_menu:hover {
    border-bottom: 1px solid #5c5c5c;
}

nav .main_menu .sub_menu li:hover a {
    font-weight: 500;
}

nav {
    height: 60px;
}

.header_wrap nav .main_menu>li {
    float: left;
    width: 25%;
}

.header_wrap nav .main_menu>li>a {
    /*outline: 1px solid yellow;*/
    padding: 7px 40px 23px;
    box-sizing: border-box;
    position: relative;
    height: 60px;
    line-height: 60px;
}

.header_wrap nav .main_menu li>a {
    height: 50px;
    line-height: 50px;
    color: #eee;
    font-size: 400;
}

.header_wrap nav .main_menu>li:hover>a {
    color: #963a20;
    transition: all .6s;
}

.main_menu li>a .menu_bar {
    width: 100%;
    height: 3px;
    display: block;
    background-color: #963a20;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
}

.main_menu li:hover .menu_bar {
    transform: scaleX(1);
}

/*sub_menu*/
.sub_menu {
    height: 300px;
    padding-top: 20px;
    box-sizing: border-box;
    display: none;
}

.sub_menu li a {
    color: #eee;
    font-size: 0.95rem;
    font-weight: 300;
    /*outline: 2px solid red;*/
    display: block;
    text-indent: 20px;
}

.sub_menu li img {
    width: 15px;
    padding: 18px 0 0 10px;
    display: none;
}

/*user_menu*/
.user_menu {
    margin-top: 25px;
    position: absolute;
    top: 0;
    right: 5%;
}

.user_menu>li {
    float: left;
    padding-right: 10px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 6px 70px;
}

.user_menu .global {
    position: relative;
    box-sizing: border-box;
}

.user_menu li .language {
    clear: both;
    content: "";
    display: block;
    width: 56px;
    height: 60px;
    text-align: center;
    position: absolute;
    top: 40px;
    left: -9px;
    /*background-color: rgba(0,0,0,0.8);*/
    display: none;
}

.user_menu li .language li {
    height: 30px;
    width: 100%;
    margin: 0 auto;
}

.user_menu li .language li:hover a {
    color: #999;
}

.user_menu li .language a {
    color: #eee;
    font-size: 14px;
    font-size: 0.8rem;
}

.hamburger {
    display: block;
    width: 25px;
    height: 20px;
    margin-top: 4px;
    margin-left: 5px;
    position: relative;
    /*outline: 2px solid red;*/
}

.hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 20px;
    margin-bottom: 6px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .6s;
}

.hamburger:hover span {
    opacity: 0.6;
}

.hamburger span:nth-child(2) {
    top: 8px;
}

.hamburger span:last-child {
    top: 16px;
}

.hamburger span:first-child.on {
    top: 8px;
    transform: rotate(45deg);
}

.hamburger span:nth-child(2).on {
    left: 15px;
    opacity: 0;
}

.hamburger span:last-child.on {
    top: 8px;
    transform: rotate(-45deg);
}

.hamburger span:first-child.move {
    transform: scaleX(0.5);
}

.hamburger span:nth-child(2).move {
    left: -5px;
}

.hamburger span:last-child.move {
    transform: scaleX(0.5);
}


/*aside*/
aside {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 998;
}

.aside_in {
    width: 300px;
    height: 100%;
    position: absolute;
    z-index: 998;
    top: 0;
    right: -300px;
    box-sizing: border-box;
    padding: 170px 0 0 50px;
    line-height: 50px;
    background-color: #000;
    background: #000 url(../imgs/custom_shop.png) no-repeat 50% 80%;
}

aside h4 {
    font-size: 18px;
    color: #eee;
    margin-bottom: 20px;
}

aside ol li a {
    color: #999;
    font-weight: 300;
}

aside ol li:hover a {
    text-decoration: underline;
}