<header>
    <div class="header_wrap clearfix">
        <div class="logo_box">
            <a href="#"><img src="{{ url_for('static', filename='imgs/logo/gibson_small.png') }}" alt="Gibson"></a>
        </div>
        <nav class="clearfix">
            <ul class="main_menu">
                <li><a href="#">깁슨소개</a></li>
                <li><a href="#">제품구매</a></li>
                <li><a href="#">깁슨의 음악</a></li>
                <li><a href="#">고객지원</a></li>
            </ul>
            <ul class="user_menu">
                <li><a href="#"><img src="{{ url_for('static', filename='imgs/icons/user_white.png') }}"
                            alt="Login"></a></li>
                <li><a href="#" class="magnifying"><img
                            src="{{ url_for('static', filename='imgs/icons/magnifying_white.png') }}" alt="Search"></a>
                </li>
                <li class="global">
                    <a href="#"><img src="{{ url_for('static', filename='imgs/icons/global_white.png') }}"
                            alt="Language"></a>
                    <ul class="language">
                        <li><a href="#">한국어</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </li>
                <li><a href="#" class="hamburger"><img
                            src="{{ url_for('static', filename='imgs/icons/hamburger_white.png') }}" alt="Menu"></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="sub_menu">
        <div class="sub_wrap clearfix">
            <ul>
                <li><a href="sub_history.html">연혁</a></li>
                <li><a href="sub_feature.html">깁슨 기타의 특징</a></li>
                <li><a href="sub_maintaining.html">기타 관리 노하우</a></li>
            </ul>
            <ul>
                <li><a href="#">일렉트릭 기타</a></li>
                <li><a href="#">어쿠스틱 기타</a></li>
                <li><a href="#">부품</a></li>
            </ul>
            <ul>
                <li><a href="#">깁슨 뮤지션 스토리</a></li>
                <li><a href="sub_play.html">기타 배우기</a></li>
            </ul>
            <ul>
                <li><a href="sub_fix.html">수리/튜닝 신청</a></li>
                <li><a href="#">서비스센터/대리점 찾기</a></li>
                <li><a href="#">소식&amp;이벤트</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">악기 렌트하기</a></li>
            </ul>
        </div>
    </div>
</header>