<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Gibson Login</title>

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="css/login.css">

</head>

<body>

    <section class="login_wrap">
        <div class="inner_login">
            <img src="imgs/login_user.png" alt="Gibson Family">

            <form action="#" name="logfrm" method="post">
                <div class="id"><input type="text" name="userid" placeholder="ID"></div>
                <div class="pw"><input type="password" name="userpw" placeholder="Password"></div>
                
                <div class="btngrp">
                    <input type="submit" value="LOGIN" class="login">
                    <input type="submit" value="회원가입" class="join" onclick="">
                </div>
            </form>
        </div>
    </section>

</body>

</html>
