<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Gibson Musicians</title>

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="css/sub_header.css">
    <link rel="stylesheet" href="css/sub_musicians.css">
    <link rel="stylesheet" href="../css/footer.css">

    <script src="../js/jquery-1.12.4.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/jquery.rotate.js"></script>
    <script src="js/sub_main.js"></script>
    <script src="js/sub_musicians.js"></script>

</head>

<body>
    <header>
        <div class="header_wrap clearfix">
            <div class="logo_box">
                <a href="../index.html"><img src="../imgs/logo/gibson_small.png" alt="Gibson"></a>
            </div>

            <nav class="clearfix">
                <ul class="main_menu clearfix">
                    <li>
                        <a href="#">깁슨소개<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_history.html">연혁<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_feature.html">깁슨 기타의 특징<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_maintaining.html">기타 관리 노하우<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">제품구매<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_electric.html">일렉트릭 기타<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_acoustic.html">어쿠스틱 기타<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_acc.html">부품<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">깁슨의 음악<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_musicians.html">깁슨 뮤지션 스토리<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_play.html">기타 배우기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">고객지원<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_fix.html">수리/튜닝 신청<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_dealers.html">서비스센터/대리점 찾기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_news.html">소식&amp;이벤트<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_FAQ.html">FAQ<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_rent.html">악기 렌트하기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <ul class="user_menu">
                <li><a href="#"><img src="../imgs/icons/user_white.png" alt="Login"></a></li>
                <li><a href="#" class="magnifying"><img src="../imgs/icons/magnifying_white.png" alt="Search"></a></li>
                <li class="global">
                    <a href="#"><img src="../imgs/icons/global_white.png" alt="Language"></a>
                    <ul class="language">
                        <li><a href="#">한국어</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </li>
                <li><a href="#" class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a></li>
            </ul>

        </div>
    </header>

    <main>
        <h1>깁슨 뮤지션 스토리</h1>
        <h2>Musicians Story</h2>
    </main>

    <section class="legend">
        <div class="legend_wrap">
            <div id="legend_video">
                <h3>그들이 선택한, 깁슨</h3>
                <div class="frame">
                    <iframe src="https://www.youtube.com/embed/dTTZSPAWP5Y?controls=0&amp;start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="legend_txt">
                    <div class="on">
                        <h4>Jimi Hendrix</h4>
                        <p class="name">지미 헨드릭스</p>
                        <p class="detail">1960년대 후반에 주로 활동한 미국의 기타리스트로, 역사상 최고의 기타리스트로 평가받는다. 기타의 역사는 지미 헨드릭스 이전과 이후로 나누어진다는 평가도 있으며 현 시점 거의 모든 리스트에서 역사상 가장 위대한 기타리스트 1위에 선정되었다.</p>
                    </div>
                    <div>
                        <h4>John Lennon</h4>
                        <p class="name">존 레논</p>
                        <p class="detail">영국의 싱어송라이터이자 대중음악 사상 가장 성공한 밴드이자 가장 영향력 있는 록 밴드인 비틀즈의 창립 멤버이자 핵심 맴버이다. 롤링 스톤이 선정한 100명의 가장 훌륭한 가수에서 5위를 차지했다.</p>
                    </div>
                    <div>
                        <h4>George Harrison</h4>
                        <p class="name">조지 헤리슨</p>
                        <p class="detail">대중음악 사상 가장 성공한 밴드이자 가장 영향력 있는 록 밴드인 비틀즈의 리드 기타 연주자로서 국제적인 명성을 얻었다. 롤링 스톤지는 역대 최고의 기타리스트 100명에서 해리슨을 11위로 선정했다.</p>
                    </div>
                    <div>
                        <h4>Eric Clapton</h4>
                        <p class="name">에릭 클랩튼</p>
                        <p class="detail">영국의 기타리스트이자 싱어송라이터로, 역사상 가장 영향력 있는 기타 연주자 중 한 사람으로 꼽힌다. 롤링 스톤지가 선정한 100인의 가장 위대한 기타 연주자 2위, 100인의 위대한 음악가 53위에 오르기도 했다.</p>
                    </div>
                    <div>
                        <h4>Jimmy Page</h4>
                        <p class="name">지미 페이지</p>
                        <p class="detail">영국의 전설적인 하드 록 밴드인 레드 제플린의 리더로 가장 잘 알려져 있다. 주로 쓰는 기타는 레스폴으로, 그 기타의 상징격 인물이자 영국 하드록, 헤비메탈의 상징으로도 통한다. 역사상 가장 위대한 기타리스트를 꼽을 때 빠지지 않고 거론되는 인물 중 하나이다.</p>
                    </div>
                    <div>
                        <h4>Gary Moore</h4>
                        <p class="name">게리 무어</p>
                        <p class="detail">아일랜드의 기타 연주자로 1970년 스키드 로(Skid Row)로 데뷔 후 Scars, BBM, 콜로세움 II 등의 밴드 활동을 하였다. 롤링스톤지 선정 100대 기타리스트 순위 6위에 올랐다. </p>
                    </div>
                    <div>
                        <h4>BB King</h4>
                        <p class="name">비비킹</p>
                        <p class="detail">미국의 싱어송라이터이자 기타리스트이다. 블루스 역사상 가장 영향력 있고 가장 대중적인 뮤지션으로 널리 간주된다. 알버트 킹, 프레디 킹과 함께 '블루스 3대 킹'으로 손꼽힌다. 롤링 스톤지의 100인의 가장 위대한 기타 연주자 6위에 선정되었다.</p>
                    </div>
                    <div>
                        <h4>Bob Dylan</h4>
                        <p class="name">밥 딜런</p>
                        <p class="detail">미국의 싱어송라이터, 작가, 화가이다. 대중음악 가수로서 최초로 노벨문학상을 수상했으며 그 외에도 그래미상, 오스카상, 퓰리쳐상, 골든글로브상, 폴라음악상, 대통령 자유 훈장, 국가 예술 훈장, 레지옹 도뇌르 훈장, 로큰롤 명예의 전당 등 많은 상과 훈장을 받았다.</p>
                    </div>
                    <div>
                        <h4>Elvis Presley</h4>
                        <p class="name">엘비스 프레슬리</p>
                        <p class="detail">미국의 가수, 작곡가, 음악가, 배우다. 20세기 가장 영향력 있는 문화적 표징으로 평가되는 그는, 이따금 "로큰롤의 제왕", 또는 단순히 "왕"으로 불린다. 또한, 역사상 가장 많은 음반을 판매한 단독 아티스트이다.</p>
                    </div>
                </div>
                <div class="vbox">
                    <ul>
                        <li><iframe src="https://www.youtube.com/embed/dTTZSPAWP5Y?controls=0&amp;start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>

                        <li><iframe src="https://www.youtube.com/embed/QfgVhE1M6ns?controls=0&amp;start=82" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>

                        <li><iframe src="https://www.youtube.com/embed/Hd0JvmncElo?controls=0&amp;start=7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>

                        <li><iframe src="https://www.youtube.com/embed/6LKBY6iLdmU?controls=0&amp;start=32" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>

                        <li><iframe src="https://www.youtube.com/embed/hyLnp5EFqxY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>

                        <li><iframe src="https://www.youtube.com/embed/7k07j7LcLqw?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>

                        <li><iframe src="https://www.youtube.com/embed/9vn-xKyVwfQ?controls=0&amp;start=82" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>

                        <li><iframe src="https://www.youtube.com/embed/vWwgrjjIMXA?controls=0&amp;start=82" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>

                        <li><iframe src="https://www.youtube.com/embed/su1otWEo1Kw?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                    </ul>
                </div>
            </div>

            <div class="legend_list">
                <ul class="clearfix">
                    <li><a href="#"><span>Jimi Hendrix</span>
                            <img src="imgs/legend_Jimi.jpg" alt="Jimi Hendrix"></a></li>
                    <li><a href="#"><span>John Lennon</span>
                            <img src="imgs/legend_John.jpg" alt="John Lennon"></a></li>
                    <li><a href="#"><span>George Harrison</span>
                            <img src="imgs/legend_George.png" alt="George Harrison"></a></li>
                    <li><a href="#"><span>Eric Clapton</span>
                            <img src="imgs/legend_Eric.jpg" alt="Eric Clapton"></a></li>
                    <li><a href="#"><span>Jimmy Page</span>
                            <img src="imgs/legend_Jimmy.jpg" alt="Jimmy Page"></a></li>
                    <li><a href="#"><span>Gary Moore</span>
                            <img src="imgs/legend_Gary.jpg" alt="Gary Moore"></a></li>
                    <li><a href="#"><span>BB King</span>
                            <img src="imgs/legend_BBking.jpg" alt="BB King"></a></li>
                    <li><a href="#"><span>Bob Dylan</span>
                            <img src="imgs/legend_Bob.jpg" alt="Bob Dylan"></a></li>
                    <li><a href="#"><span>Elvis Presley</span>
                            <img src="imgs/legend_Elvis.jpg" alt="Elvis Presley">
                        </a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="icons">
        <div class="icons_inner">
            <div class="icons_wrap">
                <h3>현재 깁슨을 대표하는 아이콘<span>Icons</span></h3>
                <div class="icon_list">
                    <ul class="clearfix">
                        <li>
                            <a href="#" class="icon_pic"><img src="imgs/KirkHammet.png" alt="Kirk Hammett"></a>
                            <a href="#" class="icon_name">Kirk Hammett of Metallica</a>
                        </li>
                        <li>
                            <a href="#" class="icon_pic"><img src="imgs/JerryCantrell.jpg" alt="Jerry Cantrell"></a>
                            <a href="#" class="icon_name">Jerry Cantrell of Alice In Chains</a>
                        </li>
                        <li>
                            <a href="#" class="icon_pic"><img src="imgs/TomyIommi.jpg" alt="Tony Iommi"></a>
                            <a href="#" class="icon_name">Tony Iommi of Black Sabbath</a>
                        </li>
                        <li>
                            <a href="#" class="icon_pic"><img src="imgs/BobRock.jpg" alt="Bob Rock"></a>
                            <a href="#" class="icon_name">Producer Bob Rock</a>
                        </li>
                    </ul>
                    <div class="icon_video">
                        <iframe src="https://www.youtube.com/embed/bPy8YyUgxyA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="ivbox">
                        <ul>
                            <li><iframe src="https://www.youtube.com/embed/bPy8YyUgxyA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>

                            <li><iframe src="https://www.youtube.com/embed/csJdZv_fUdc?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>

                            <li><iframe src="https://www.youtube.com/embed/LN2FYIhGwaA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>

                            <li><iframe src="https://www.youtube.com/embed/DuyqsS3gHjU?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                        </ul>
                    </div>
                    <a href="https://www.youtube.com/playlist?list=PL7qLGYJiRJ1hr5qFhq3xFlyNNO1iQPjQU">깁슨 유튜브 팔로우하러 가기
                        <img src="imgs/icons/more_r.png" alt="깁슨 유튜브 페이지로 이동">
                        <span>click</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="family_site">
            <h4>VISIT THE GIBSON BRANDS FAMILY</h4>
            <ul class="clearfix">
                <li><a href="http://www.steinberger.com/"><img src="../imgs/logo/Steinberger.jpg" alt="Steinberger"></a></li>
                <li class="krk"><a href="https://www.krkmusic.com/"><img src="../imgs/logo/KRK.jpg" alt="KRK"></a></li>
                <li><a href="https://www.epiphone.com/"><img src="../imgs/logo/Epiphone.jpg" alt="Epiphone"></a></li>
                <li><a href="https://www.kramerguitars.com/"><img src="../imgs/logo/Kramer.jpg" alt="Kramer"></a></li>
                <li><a href="https://mesaboogie.com/"><img src="../imgs/logo/MesaBoogie.jpg" alt="Mesa Boogie"></a></li>
            </ul>
        </div>

        <div class="footer_bottom">
            <div class="footer_menu clearfix">
                <div class="footer_left">
                    <ul>
                        <li><a href="#">구매 가능 매장 찾기(온/오프라인)</a></li>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">개인정보취급방침</a></li>
                        <li><a href="#">서비스센터 찾기</a></li>
                    </ul>

                    <p>Copyright 2020 Gibson Brands, Inc. All rights reserved.</p>
                </div>
                <div class="footer_right">
                    <div class="sns">
                        <p>팔로우하기</p>
                        <a href="https://www.instagram.com/gibsonguitar/" class="instagram">Instagram</a>
                        <a href="https://www.facebook.com/Gibson/" class="facebook">Facebook</a>
                        <a href="https://twitter.com/gibsonguitar" class="twitter">Twitter</a>
                        <a href="https://www.linkedin.com/company/gibson-guitar" class="linkedin">Linkedin</a>
                        <a href="https://www.youtube.com/c/gibsonguitar" class="youtube">Youtube</a>
                    </div>
                    <div class="apps">
                        <p>다운로드</p>
                        <a href="https://play.google.com/store/apps/details?id=com.zoundio.amped&hl=en_US&gl=US" class="google">Google Play Store</a>
                        <a href="https://apps.apple.com/us/app/gibson/id1116032929" class="apple">App Store</a>
                    </div>

                    <p>Customer Support(US &amp; Canada): <span>1-800-4</span></p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
