<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Gibson Rent</title>

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="css/sub_header.css">
    <link rel="stylesheet" href="css/sub_rent.css">
    <link rel="stylesheet" href="../css/footer.css">

    <script src="../js/jquery-1.12.4.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/jquery.rotate.js"></script>
    <script src="js/sub_main.js"></script>
    <script src="js/sub_rent.js"></script>
</head>

<body>
    <header>
        <div class="header_wrap clearfix">
            <div class="logo_box">
                <a href="../index.html"><img src="../imgs/logo/gibson_small.png" alt="Gibson"></a>
            </div>

            <nav class="clearfix">
                <ul class="main_menu clearfix">
                    <li>
                        <a href="#">깁슨소개<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_history.html">연혁<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_feature.html">깁슨 기타의 특징<img src="../imgs/icons/more_icon.png" alt=""></a>
                            </li>
                            <li><a href="sub_maintaining.html">기타 관리 노하우<img src="../imgs/icons/more_icon.png"
                                        alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">제품구매<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_electric.html">일렉트릭 기타<img src="../imgs/icons/more_icon.png" alt=""></a>
                            </li>
                            <li><a href="sub_acoustic.html">어쿠스틱 기타<img src="../imgs/icons/more_icon.png" alt=""></a>
                            </li>
                            <li><a href="sub_acc.html">부품<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">깁슨의 음악<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_musicians.html">깁슨 뮤지션 스토리<img src="../imgs/icons/more_icon.png"
                                        alt=""></a></li>
                            <li><a href="sub_play.html">기타 배우기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">고객지원<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_fix.html">수리/튜닝 신청<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_dealers.html">서비스센터/대리점 찾기<img src="../imgs/icons/more_icon.png"
                                        alt=""></a></li>
                            <li><a href="sub_news.html">소식&amp;이벤트<img src="../imgs/icons/more_icon.png" alt=""></a>
                            </li>
                            <li><a href="sub_FAQ.html">FAQ<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_rent.html">악기 렌트하기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <ul class="user_menu">
                <li><a href="#"><img src="../imgs/icons/user_white.png" alt="Login"></a></li>
                <li><a href="#" class="magnifying"><img src="../imgs/icons/magnifying_white.png" alt="Search"></a></li>
                <li class="global">
                    <a href="#"><img src="../imgs/icons/global_white.png" alt="Language"></a>
                    <ul class="language">
                        <li><a href="#">한국어</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </li>
                <li><a href="#" class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a></li>
            </ul>

        </div>
    </header>

    <main>
        <h1>악기 렌트하기</h1>
        <h2>Guitar Rental</h2>
    </main>

    <section class="flow">
        <h3>현재 렌트 가능한 기타 목록</h3>
        <div class="flowbox">
            <ul class="clearfix">
                <li>
                    <a href="#"><img src="imgs/guitars/electric/1956_LesPaul.png" alt="Les Paul"></a>
                    <a href="#" class="ibox">
                        <p>Les Paul 1956<br><span>₩100,000</span></p>
                    </a>
                </li>
                <li>
                    <a href="#"><img src="imgs/guitars/acoustic/50sJ-45Original.png" alt="50s J-450 Original"></a>
                    <a href="#" class="ibox">
                        <p>J-450 Original 50s<br><span>₩100,000</span></p>
                    </a>
                </li>
                <li>
                    <a href="#"><img src="imgs/guitars/acoustic/j-45.png" alt="J-45"></a>
                    <a href="#" class="ibox">
                        <p>J-45<br><span>₩90,000</span></p>
                    </a>
                </li>
                <li>
                    <a href="#"><img src="imgs/guitars/bass/SG_StandardBass.png" alt="SG Standard Bass"></a>
                    <a href="#" class="ibox">
                        <p>SG Standard Bass<br><span>₩100,000</span></p>
                    </a>
                </li>
                <li>
                    <a href="#"><img src="imgs/guitars/electric/1959_ES-355Reissue.png" alt="ES-355"></a>
                    <a href="#" class="ibox">
                        <p>ES-335 Reissue 1959<br><span>₩150,000</span></p>
                    </a>
                </li>
                <li>
                    <a href="#"><img src="imgs/guitars/electric/JimiHendrix1969_FlyingV.png"
                            alt="Jimi Hendrix 1969 Flying V"></a>
                    <a href="#" class="ibox">
                        <p>Flying V Jimi Hendrix 1969<br><span>₩140,000</span></p>
                    </a>
                </li>
                <li>
                    <a href="#"><img src="imgs/guitars/electric/1959_ES-355WatermelonRedLightAged.png"
                            alt="1959 ES-355 Watermelon Red Light Aged"></a>
                    <a href="#" class="ibox">
                        <p>ES-335 Watermelon<br>Red Light Aged 1959<br><span>₩170,000</span></p>
                    </a>
                </li>
                <li>
                    <a href="#"><img src="imgs/guitars/electric/1968_LesPaulCustomReissue.png"
                            alt="1968 Les Paul Custom Reissue"></a>
                    <a href="#" class="ibox">
                        <p>Les Paul Custom Reissue 1968<br><span>₩100,000</span></p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="flow_btn clearfix">
            <p>
                <span>ON</span>
                <span>OFF</span>
            </p>
            <a href="#"></a>
        </div>
        <p>*기재되어있는 금액은 14일 기준입니다. 기간별 가격은 상세 페이지에 기재되어 있습니다.</p>
    </section>

    <section class="rent_form">
        <div class="rent_inner">
            <form action="rent_application">
                <h4>기타 렌트 신청서 작성</h4>
                <div class="rent_li li_fst">
                    <p>이름</p>
                    <input type="text">
                </div>
                <div class="rent_li">
                    <p>연락처</p>
                    <input type="tel">
                </div>
                <div class="rent_li">
                    <p>이메일 주소</p>
                    <input type="email">
                </div>
                <div class="rent_li">
                    <p>깁슨 홈페이지 아이디</p>
                    <input type="text">
                </div>
                <div class="rent_li">
                    <p>렌트 신청 기타명</p>
                    <select name="guitarName" id="">
                        <option value="기타명 선택">기타명 선택</option>
                        <option value="LesPaul1956">Les Paul 1956</option>
                        <option value="Les Paul Custom Reissue 1968">Les Paul Custom Reissue 1968</option>
                        <option value="SG Standard Bass">SG Standard Bass</option>
                        <option value="ES-335 Reissue 1959">ES-335 Reissue 1959</option>
                        <option value="ES-335 Watermelon">ES-335 Watermelon</option>
                        <option value="Flying V Jimi Hendrix 1969">Flying V Jimi Hendrix 1969</option>
                        <option value="J-45">J-45</option>
                        <option value="J-450 Original 50s">J-450 Original 50s</option>
                    </select>
                </div>
                <div class="rent_li rent_per">
                    <p>신청 기간</p>
                    <ul>
                        <li><span>렌트 시작일</span><input type="date"><span>*저녁 6시 이후 픽업시 시작일 당일은 금액에 포함되지 않습니다.</span></li>
                        <li><span>렌트 종료일</span><input type="date"><span>*렌트 종료일 자정까지 이용 가능하며 당일 선반납시 할인되는 금액은
                                없습니다.</span></li>
                    </ul>
                </div>
                <div class="rent_li rent_date">
                    <p>신청일</p>
                    <input type="datetime" hidden>
                </div>

                <input type="submit" class="rent_submit" value="렌트 신청하기">
            </form>
        </div>
    </section>

    <footer>
        <div class="family_site">
            <h4>VISIT THE GIBSON BRANDS FAMILY</h4>
            <ul class="clearfix">
                <li><a href="http://www.steinberger.com/"><img src="../imgs/logo/Steinberger.jpg" alt="Steinberger"></a>
                </li>
                <li class="krk"><a href="https://www.krkmusic.com/"><img src="../imgs/logo/KRK.jpg" alt="KRK"></a></li>
                <li><a href="https://www.epiphone.com/"><img src="../imgs/logo/Epiphone.jpg" alt="Epiphone"></a></li>
                <li><a href="https://www.kramerguitars.com/"><img src="../imgs/logo/Kramer.jpg" alt="Kramer"></a></li>
                <li><a href="https://mesaboogie.com/"><img src="../imgs/logo/MesaBoogie.jpg" alt="Mesa Boogie"></a></li>
            </ul>
        </div>

        <div class="footer_bottom">
            <div class="footer_menu clearfix">
                <div class="footer_left">
                    <ul>
                        <li><a href="#">구매 가능 매장 찾기(온/오프라인)</a></li>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">개인정보취급방침</a></li>
                        <li><a href="#">서비스센터 찾기</a></li>
                    </ul>

                    <p>Copyright 2020 Gibson Brands, Inc. All rights reserved.</p>
                </div>
                <div class="footer_right">
                    <div class="sns">
                        <p>팔로우하기</p>
                        <a href="https://www.instagram.com/gibsonguitar/" class="instagram">Instagram</a>
                        <a href="https://www.facebook.com/Gibson/" class="facebook">Facebook</a>
                        <a href="https://twitter.com/gibsonguitar" class="twitter">Twitter</a>
                        <a href="https://www.linkedin.com/company/gibson-guitar" class="linkedin">Linkedin</a>
                        <a href="https://www.youtube.com/c/gibsonguitar" class="youtube">Youtube</a>
                    </div>
                    <div class="apps">
                        <p>다운로드</p>
                        <a href="https://play.google.com/store/apps/details?id=com.zoundio.amped&hl=en_US&gl=US"
                            class="google">Google Play Store</a>
                        <a href="https://apps.apple.com/us/app/gibson/id1116032929" class="apple">App Store</a>
                    </div>

                    <p>Customer Support(US &amp; Canada): <span>1-800-4</span></p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>