<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Gibson_fix</title>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="css/sub_header.css">
    <link rel="stylesheet" href="css/sub_fix.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="css/style4.css">

    <script src="../js/jquery-1.12.4.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/jquery.rotate.js"></script>
    <script src="../js/header.js"></script>
    <script src="js/sub_main.js"></script>
    <script src="js/sub_fix.js"></script>
</head>

<body>

    <header>
        <div class="header_wrap clearfix">
            <div class="logo_box">
                <a href="../index.html"><img src="../imgs/logo/gibson_small.png" alt="Gibson"></a>
            </div>

            <nav class="clearfix">
                <ul class="main_menu clearfix">
                    <li>
                        <a href="#">깁슨소개<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_history.html">연혁<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_feature.html">깁슨 기타의 특징<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_maintaining.html">기타 관리 노하우<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">제품구매<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_electric.html">일렉트릭 기타<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_acoustic.html">어쿠스틱 기타<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_acc.html">부품<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">깁슨의 음악<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_musicians.html">깁슨 뮤지션 스토리<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_play.html">기타 배우기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">고객지원<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_fix.html">수리/튜닝 신청<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_dealers.html">서비스센터/대리점 찾기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_news.html">소식&amp;이벤트<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_FAQ.html">FAQ<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_rent.html">악기 렌트하기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <ul class="user_menu">
                <li><a href="#"><img src="../imgs/icons/user_white.png" alt="Login"></a></li>
                <li><a href="#" class="magnifying"><img src="../imgs/icons/magnifying_white.png" alt="Search"></a></li>
                <li class="global">
                    <a href="#"><img src="../imgs/icons/global_white.png" alt="Language"></a>
                    <ul class="language">
                        <li><a href="#">한국어</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </li>
                <li><a href="#" class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a></li>
            </ul>

        </div>
    </header>

    <main>
        <h1>수리/튜닝 서비스</h1>
        <h2>Fixing/Tuning Services</h2>
    </main>

    <section class="fix_con">
        <p>깁슨 수리 &amp; 복구 서비스팀은 현재 깁슨 뿐만아니라 다양한 기타 브랜드의 제품도 서비스를 제공합니다. 깁슨의 수리공장에서 장인들이 직접 수리합니다. 매우 숙련된 경험있는 장인들이 최신의 장비를 갖춘 환경에서 일하고 있습니다.<br><br>수리가 필요하신 경우 상담 신청을 먼저 해 주시기 바랍니다. 저희 깁슨 수리 &amp; 복원 팀에서는 정직하고 성실하게 정확한 해결책과 함께 고객에게 도움을 드리려 노력하고 있습니다.<br><br>저희는 정확한 수리를 위해 각각의 기타 상태를 꼼꼼히 체크하며 최소한의 시간과 합리적인 비용으로 서비스를 제공하고 있습니다. 수리 계약이 체결되고 악기가 공장에 도착하면, 깁슨 수리팀은 2차 공식 점검을 하고 고객님께 가격이 포함된 상세 내용을 보내드립니다. 수리가 완료되면, 비용 청구를 위한 연락이 갈 것입니다. 수리 신청을 위해 상담 신청 메뉴를 사용해 주시길 바랍니다. 이메일/전화 상담도 가능합니다.</p>

        <div class="service_list">
            <h3>가능한 수리 서비스</h3>
            <ul class="clearfix ch-grid">
                <li>
                    <div class="ch-item ch-img-1">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1">
                                    <img src="imgs/icons/fret_icon.png" alt="fret">
                                    <span class="front_k">프렛수리</span>
                                    <span class="front_e">Fret</span>
                                </div>
                                <div class="ch-info-back">
                                    <p>떨어진 프렛, 프렛의 흠집</p>
                                    <span class="service_k">프렛수리</span>
                                    <span class="service_e">Fret</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-img-2">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-2">
                                    <img src="imgs/icons/broken_head.png" alt="structure">
                                    <span class="front_k">구조적 수리</span>
                                    <span class="front_e">Structure</span>
                                </div>
                                <div class="ch-info-back">
                                    <p>바디의 흠집, 깨진 헤드</p>
                                    <span class="service_k">구조적 수리</span>
                                    <span class="service_e">Structure</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-img-1">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1">
                                    <img src="imgs/icons/broken_neck.png" alt="neck">
                                    <span class="front_k">넥 교체</span>
                                    <span class="front_e">Neck</span>
                                </div>
                                <div class="ch-info-back">
                                    <p>부러진 넥, 휜 넥</p>
                                    <span class="service_k">넥 교체</span>
                                    <span class="service_e">Neck</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-img-2">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-2">
                                    <img src="imgs/icons/customizing.png" alt="customizing">
                                    <span class="front_k">커스터마이징</span>
                                    <span class="front_e">Customizing</span>
                                </div>
                                <div class="ch-info-back">
                                    <p>페인팅 등</p>
                                    <span class="service_k">커스터마이징</span>
                                    <span class="service_e">Customizing</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-img-1">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1">
                                    <img src="imgs/icons/whole_guitar.png" alt="whole">
                                    <span class="front_k">전체 복원</span>
                                    <span class="front_e">Whole Guitar</span>
                                </div>
                                <div class="ch-info-back">
                                    <p>전체적 수리</p>
                                    <span class="service_k">전체 복원</span>
                                    <span class="service_e">Whole Guitar</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="fix_form">
        <div class="fix_inner">
            <h2>깁슨 A/S 상담 신청서</h2>
            <form action="#" name="fix_application" method="post">
                <ul class="clearfix">
                    <li><span>작성자</span> <input type="text"></li>
                    <li><span>연락처</span> <input type="tel" maxlength="11"></li>
                    <li><span>기타 정보/품명</span> <input type="text"></li>
                    <li class="fix_detail"><span>상담 내용</span> <textarea name="" id="" cols="30" rows="10"></textarea></li>
                    <li>
                        <span>첨부파일</span>
                        <input class="file_name" value="파일 선택" disabled="disabled">
                        <label for="fix_file" class="fix_att">업로드</label><input type="file" id="fix_file">
                    </li>
                </ul>
                <input type="submit" value="A/S 상담 신청하기" class="form_submit">
            </form>
        </div>
    </section>

    <footer>
        <div class="family_site">
            <h4>VISIT THE GIBSON BRANDS FAMILY</h4>
            <ul class="clearfix">
                <li><a href="http://www.steinberger.com/"><img src="../imgs/logo/Steinberger.jpg" alt="Steinberger"></a></li>
                <li class="krk"><a href="https://www.krkmusic.com/"><img src="../imgs/logo/KRK.jpg" alt="KRK"></a></li>
                <li><a href="https://www.epiphone.com/"><img src="../imgs/logo/Epiphone.jpg" alt="Epiphone"></a></li>
                <li><a href="https://www.kramerguitars.com/"><img src="../imgs/logo/Kramer.jpg" alt="Kramer"></a></li>
                <li><a href="https://mesaboogie.com/"><img src="../imgs/logo/MesaBoogie.jpg" alt="Mesa Boogie"></a></li>
            </ul>
        </div>

        <div class="footer_bottom">
            <div class="footer_menu clearfix">
                <div class="footer_left">
                    <ul>
                        <li><a href="#">구매 가능 매장 찾기(온/오프라인)</a></li>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">개인정보취급방침</a></li>
                        <li><a href="#">서비스센터 찾기</a></li>
                    </ul>

                    <p>Copyright 2020 Gibson Brands, Inc. All rights reserved.</p>
                </div>
                <div class="footer_right">
                    <div class="sns">
                        <p>팔로우하기</p>
                        <a href="https://www.instagram.com/gibsonguitar/" class="instagram">Instagram</a>
                        <a href="https://www.facebook.com/Gibson/" class="facebook">Facebook</a>
                        <a href="https://twitter.com/gibsonguitar" class="twitter"></a>
                        <a href="https://www.linkedin.com/company/gibson-guitar" class="linkedin"></a>
                        <a href="https://www.youtube.com/c/gibsonguitar" class="youtube"></a>
                    </div>
                    <div class="apps">
                        <p>다운로드</p>
                        <a href="https://play.google.com/store/apps/details?id=com.zoundio.amped&hl=en_US&gl=US" class="google"></a>
                        <a href="https://apps.apple.com/us/app/gibson/id1116032929" class="apple"></a>
                    </div>

                    <p>Customer Support(US &amp; Canada): <span>1-800-4</span></p>
                </div>
            </div>
        </div>

    </footer>
</body>

</html>
