<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>sub_maintaining</title>

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="css/sub_header.css">
    <link rel="stylesheet" href="css/sub_maintaining.css">
    <link rel="stylesheet" href="../css/footer.css">

    <script src="../js/jquery-1.7.2.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/jquery.rotate.js"></script>
    <script src="../js/header.js"></script>
    <script src="js/sub_main.js"></script>
    <script src="js/sub_maintaining.js"></script>
</head>

<body>

    <header>
        <div class="header_wrap clearfix">
            <div class="logo_box">
                <a href="../index.html"><img src="../imgs/logo/gibson_small.png" alt="Gibson"></a>
            </div>

            <nav class="clearfix">
                <ul class="main_menu clearfix">
                    <li>
                        <a href="#">깁슨소개<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_history.html">연혁<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_feature.html">깁슨 기타의 특징<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_maintaining.html">기타 관리 노하우<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">제품구매<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_electric.html">일렉트릭 기타<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_acoustic.html">어쿠스틱 기타<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_acc.html">부품<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">깁슨의 음악<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_musicians.html">깁슨 뮤지션 스토리<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_play.html">기타 배우기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">고객지원<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_fix.html">수리/튜닝 신청<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_dealers.html">서비스센터/대리점 찾기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_news.html">소식&amp;이벤트<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_FAQ.html">FAQ<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_rent.html">악기 렌트하기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <ul class="user_menu">
                <li><a href="#"><img src="../imgs/icons/user_white.png" alt="Login"></a></li>
                <li><a href="#" class="magnifying"><img src="../imgs/icons/magnifying_white.png" alt="Search"></a></li>
                <li class="global">
                    <a href="#"><img src="../imgs/icons/global_white.png" alt="Language"></a>
                    <ul class="language">
                        <li><a href="#">한국어</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </li>
                <li><a href="#" class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a></li>
            </ul>

        </div>
    </header>

    <main>
        <h1>기타 관리 노하우</h1>
        <h2>Maintaining your Gibson</h2>
    </main>

    <section class="keep">
        <div class="keep_wrap">
            <h3>기타 보관법</h3>
            <div class="summer">
                <h4>여름철</h4>
                <ul class="clearfix">
                    <li>
                        <img src="imgs/icons/humidity.png" alt="humidity">
                        <span class="keep_tit">습도 관리</span>
                        <span class="keep_des">45% 정도 (60% 이하)</span>
                    </li>
                    <li>
                        <img src="imgs/icons/fan.png" alt="temperature">
                        <span class="keep_tit">선풍기/에어컨 사용</span>
                        <span class="keep_des">너무 차거나 건조하지 않도록</span>
                    </li>
                    <li>
                        <img src="imgs/icons/ventilation_bk.png" alt="ventilation">
                        <span class="keep_tit">서늘한 곳에서 통풍</span>
                        <span class="keep_des">케이스에서 꺼내서 종종</span>
                    </li>
                    <li>
                        <img src="imgs/icons/wipe.png" alt="wipe">
                        <span class="keep_tit">마른 수건으로 닦기</span>
                        <span class="keep_des">사용 전, 후 닦기<br>지문, 땀자국 등 없애기</span>
                    </li>
                    <li>
                        <img src="imgs/icons/desiccant.png" alt="desiccant">
                        <span class="keep_tit">건조제 사용</span>
                        <span class="keep_des">케이스 안에 200g 정도<br>자주 교환하여줌</span>
                    </li>
                </ul>
                <p>여름철은 비가 자주 오기 때문에 습도가 높아져 현재까지 건조해 있던 기타가 급하게 습해지기 때문에 습도 조절(제습)에 초점을 맞춰 세심한 관리가 필요합니다.</p>
            </div>
            <div class="winter">
                <h4>겨울철</h4>
                <ul class="clearfix">
                    <li>
                        <img src="imgs/icons/humidity.png" alt="humidity">
                        <span class="keep_tit">습도 관리</span>
                        <span class="keep_des">50-55% 정도를 유지</span>
                    </li>
                    <li>
                        <img src="imgs/icons/temperature.png" alt="temperature">
                        <span class="keep_tit">적정 온도 유지</span>
                        <span class="keep_des">22-24˚c 정도</span>
                    </li>
                    <li>
                        <img src="imgs/icons/ventilation_bk.png" alt="ventilation">
                        <span class="keep_tit">적정 온도에서 통풍</span>
                        <span class="keep_des">케이스에서 꺼내어 종종</span>
                    </li>
                    <li>
                        <img src="imgs/icons/wipe.png" alt="wipe">
                        <span class="keep_tit">마른 수건으로 닦기</span>
                        <span class="keep_des">사용 전, 후 닦기</span>
                    </li>
                    <li>
                        <img src="imgs/icons/humidifier.png" alt="humidifier">
                        <span class="keep_tit">가습기/댐핏 사용</span>
                        <span class="keep_des">댐핏 사용시 기타에<br>물방울이 떨어지지 않도록 주의</span>
                    </li>
                </ul>
                <p>겨울철은 습도가 낮을 뿐만 아니라 집 안에서는 난방의 영향도 받게되어 적정 습도를 유지하기 매우 힘든 계절입니다. 따라서 여름과 반대로 가습에 초점을 맞춰 세심한 관리을 해주어야 합니다.</p>
            </div>
            <div class="notuse">
                <h4>장기간 사용하지 않을 경우</h4>
                <ul class="clearfix">
                    <li>
                        <img src="imgs/icons/humidity.png" alt="humidity">
                        <span class="keep_tit">습도 관리</span>
                        <span class="keep_des">60% 이하</span>
                    </li>
                    <li>
                        <img src="imgs/icons/strings.png" alt="loose strings">
                        <span class="keep_tit">현을 느슨하게 풀기</span>
                        <span class="keep_des">조율을 반바퀴 정도 풀기</span>
                    </li>
                    <li>
                        <img src="imgs/icons/pin.png" alt="loose pins">
                        <span class="keep_tit">철심을 수평상태로 풀기</span>
                        <span class="keep_des">기타에 과한 힘을 주지 않도록 철심도 살짝 풀어줌</span>
                    </li>
                    <li>
                        <img src="imgs/icons/wipe.png" alt="wipe">
                        <span class="keep_tit">각종 하드웨어, 현 닦기</span>
                        <span class="keep_des">이물질을 남기지 않도록 관리</span>
                    </li>
                    <li>
                        <img src="imgs/icons/desiccant.png" alt="desiccant">
                        <span class="keep_tit">케이스 안에 건습제 넣기</span>
                        <span class="keep_des">자주 교환해주기</span>
                    </li>
                </ul>
                <p>일반적으로 장기간 사용하지 않을 시 현을 조금씩 풀어 놓고 철심도 조금 풀어놓아야 합니다. 현을 풀어서 보관하지 않을 시 기타의 넥이 무리하게 힘을 받아 휘는 경우가 생길 수도 있습니다.</p>
            </div>
        </div>
    </section>

    <section class="maintain">
        <div class="maintain_wrap">
            <h3>기타 관리 방법</h3>
            <div class="maintain01 clearfix">
                <div class="left">
                    <img src="imgs/maintain01.jpg" alt="strings">
                    <p><strong><img src="imgs/icons/maintain_btn.png" alt="button"> 현을 닦는 방법</strong><br>현을 오래 사용하기 위해서는 연주 후에 반드시 현을 닦아줘야 합니다. 기타를 닦는 데 가장 좋은 도구는 면 헝겊입니다. 그 외에 악기사에서 파는 프란넬(flannel)이나 다른 악기를 닦을 때 쓰는 천도 괜찮습니다. 오래된 면 100% 티셔츠를 사용하실 때는 가급적 보풀이 없는 깨끗한 것을 사용하시고 프린트 무늬가 있는 쪽은 피해주세요. 기타 현 같은 손이 잘 닿지 않아 닦기 힘든 부분은 막대(자)를 이용해서 닦아주시면 됩니다.</p>
                </div>
                <div class="right">
                    <h4>01<br><span>·<br>·</span></h4>
                </div>
            </div>
            <div class="maintain02 clearfix">
                <div class="left">
                    <h4>02<br><span>·<br>·</span></h4>
                </div>
                <div class="right">
                    <img src="imgs/maintain02.jpg" alt="finger board">
                    <p><strong><img src="imgs/icons/maintain_btn.png" alt="button"> 핑거보드를 닦는 방법</strong><br>부드러운 솔(혹은 칫솔)로 살살 문질러서 먼지를 털어주시고 프렛이 녹슬었을 경우에는 부드러운 강철솜을 이용해서 녹을 벗겨내야 합니다. 핑거보드에 기스가 날 수 있으니 주의해서 닦아줍니다.</p>
                </div>
            </div>
            <div class="maintain03 clearfix">
                <div class="left">
                    <img src="imgs/maintain03.jpg" alt="body">
                    <p><strong><img src="imgs/icons/maintain_btn.png" alt="button"> 바디를 닦는 방법</strong><br>바디의 피니쉬(앞, 뒷판) 부분에 묻어서 잘 지워지지 않는 얼룩 같은 것은 물을 섞은 세제를 면 헝겊에 묻혀 닦아주시면 됩니다. 이 때 바디에 직접 세제를 묻히지 면헝겊에 적당량을 뿌려서 닦아주어야 피니쉬에 손상이 없습니다. 스티커나 테이프 찌꺼기 같은 끈적거리는 얼룩이 묻었을 경우, 라이터 기름이나 휘발성 오일을 헝겊에 조금 묻혀서 제거하시고 기름기가 남지 않도록 마른 헝겊으로 잘 닦아내셔야 합니다.</p>
                </div>
                <div class="right">
                    <h4>03<br><span>·<br>·</span></h4>
                </div>
            </div>
            <div class="maintain04 clearfix">
                <div class="left">
                    <h4>04<br><span>·<br>·</span></h4>
                </div>
                <div class="right">
                    <img src="imgs/maintain04.jpg" alt="bridge">
                    <p><strong><img src="imgs/icons/maintain_btn.png" alt="button"> 금속 브릿지를 닦는 방법</strong><br>금속 브릿지의 경우 땀에 의해 녹이 스는 것을 방지해야 합니다. 일렉트릭 기타의 브릿지와 하드웨어들은 대부분 금속으로 되어있기 때문에 먼저 칫솔로 먼지를 털어 내시고 라이터 기름을 면봉에 묻혀 녹을 닦아내면 되거든요. 녹을 닦아 낸 후에는 재봉틀 기름이나 WD40을 발라주어 녹을 방지하는 것도 방법입니다.</p>
                </div>
            </div>
            <div class="maintain05 clearfix">
                <div class="left">
                    <img src="imgs/maintain05.jpg" alt="hardware">
                    <p><strong><img src="imgs/icons/maintain_btn.png" alt="button"> 헐거워진 하드웨어들 조이기</strong><br>정기적으로 하드웨어를 고정하는 나사들을 점검하시고 꽉 조여주세요. 기타의 현을 교체할 때마다 넥의 볼트, 브릿지, 헤드머신의 나사, 락킹, 하드웨어 등을 점검하여 나사들이 헐거워졌을 때는 반드시 조여주도록 하세요.</p>
                </div>
                <div class="right">
                    <h4>05<br><span>·<br>·</span></h4>
                </div>
            </div>
        </div>
    </section>

    <section class="video">
        <div class="video_wrap">
            <h3>영상으로 기타 관리 배우기</h3>
            <p class="video_tit">일렉트릭 기타 줄 갈기 &amp; 튜닝하기</p>
            <p class="episode">Episode 1</p>
            <div class="video_b">
                <iframe src="https://www.youtube.com/embed/iNalU_61IYk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <ul class="clearfix">
                <li><a href="#">
                        <p>일렉기타 줄 갈기<br>&amp;<br>튜닝하기</p>
                        <img src="imgs/icons/play_btn_color.png" alt="play">
                    </a></li>
                <li><a href="#">
                        <p>어쿠스틱 기타 줄 갈기</p>
                        <img src="imgs/icons/play_btn_color.png" alt="play">
                    </a></li>
                <li><a href="#">
                        <p>기타 닦기</p>
                        <img src="imgs/icons/play_btn_color.png" alt="play">
                    </a></li>
                <li><a href="#">
                        <p>치는 높이 조절하기</p>
                        <img src="imgs/icons/play_btn_color.png" alt="play">
                    </a></li>
                <li><a href="#">
                        <p>넥 조정하기</p>
                        <img src="imgs/icons/play_btn_color.png" alt="play">
                    </a></li>
            </ul>
            <p class="m_more">더 많은 영상 보러가기<a href="https://www.youtube.com/playlist?list=PL7qLGYJiRJ1jb_SQ3VViUkEZ-TXNeZ09N">
               <img src="imgs/icons/more_r.png" alt="깁슨 유튜브 페이지로 이동">
                <span></span>
                <strong>click</strong>
            </a></p>
        </div>
        <div class="eplist">
           <ul>
               <li><iframe src="https://www.youtube.com/embed/iNalU_61IYk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
               <li><iframe src="https://www.youtube.com/embed/_HgrvGM3db4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
               <li><iframe src="https://www.youtube.com/embed/e6Q5xm83SGw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
               <li><iframe src="https://www.youtube.com/embed/eWtbVWYqQ-Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
               <li><iframe src="https://www.youtube.com/embed/zxyhIPVu0zo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
               <li></li>
           </ul>
            
        </div>
    </section>

    <footer>
        <div class="family_site">
            <h4>VISIT THE GIBSON BRANDS FAMILY</h4>
            <ul class="clearfix">
                <li><a href="http://www.steinberger.com/"><img src="../imgs/logo/Steinberger.jpg" alt="Steinberger"></a></li>
                <li class="krk"><a href="https://www.krkmusic.com/"><img src="../imgs/logo/KRK.jpg" alt="KRK"></a></li>
                <li><a href="https://www.epiphone.com/"><img src="../imgs/logo/Epiphone.jpg" alt="Epiphone"></a></li>
                <li><a href="https://www.kramerguitars.com/"><img src="../imgs/logo/Kramer.jpg" alt="Kramer"></a></li>
                <li><a href="https://mesaboogie.com/"><img src="../imgs/logo/MesaBoogie.jpg" alt="Mesa Boogie"></a></li>
            </ul>
        </div>

        <div class="footer_bottom">
            <div class="footer_menu clearfix">
                <div class="footer_left">
                    <ul>
                        <li><a href="#">구매 가능 매장 찾기(온/오프라인)</a></li>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">개인정보취급방침</a></li>
                        <li><a href="#">서비스센터 찾기</a></li>
                    </ul>

                    <p>Copyright 2020 Gibson Brands, Inc. All rights reserved.</p>
                </div>
                <div class="footer_right">
                    <div class="sns">
                        <p>팔로우하기</p>
                        <a href="https://www.instagram.com/gibsonguitar/" class="instagram">Instagram</a>
                        <a href="https://www.facebook.com/Gibson/" class="facebook">Facebook</a>
                        <a href="https://twitter.com/gibsonguitar" class="twitter">Twitter</a>
                        <a href="https://www.linkedin.com/company/gibson-guitar" class="linkedin">Linkedin</a>
                        <a href="https://www.youtube.com/c/gibsonguitar" class="youtube">Youtube</a>
                    </div>
                    <div class="apps">
                        <p>다운로드</p>
                        <a href="https://play.google.com/store/apps/details?id=com.zoundio.amped&hl=en_US&gl=US" class="google">Google Play Store</a>
                        <a href="https://apps.apple.com/us/app/gibson/id1116032929" class="apple">App Store</a>
                    </div>

                    <p>Customer Support(US &amp; Canada): <span>1-800-4</span></p>
                </div>
            </div>
        </div>

    </footer>
</body>

</html>
