<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Gibson_play</title>

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="css/sub_header.css">
    <link rel="stylesheet" href="css/sub_play.css">
    <link rel="stylesheet" href="../css/footer.css">

    <script src="../js/jquery-1.12.4.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/jquery.rotate.js"></script>
    <script src="js/sub_main.js"></script>
    <script src="js/sub_play.js"></script>
</head>

<body>
    <header>
        <div class="header_wrap clearfix">
            <div class="logo_box">
                <a href="../index.html"><img src="../imgs/logo/gibson_small.png" alt="Gibson"></a>
            </div>

            <nav class="clearfix">
                <ul class="main_menu clearfix">
                    <li>
                        <a href="#">깁슨소개<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_history.html">연혁<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_feature.html">깁슨 기타의 특징<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_maintaining.html">기타 관리 노하우<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">제품구매<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_electric.html">일렉트릭 기타<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_acoustic.html">어쿠스틱 기타<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_acc.html">부품<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">깁슨의 음악<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_musicians.html">깁슨 뮤지션 스토리<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_play.html">기타 배우기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">고객지원<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_fix.html">수리/튜닝 신청<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_dealers.html">서비스센터/대리점 찾기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_news.html">소식&amp;이벤트<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_FAQ.html">FAQ<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_rent.html">악기 렌트하기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <ul class="user_menu">
                <li><a href="#"><img src="../imgs/icons/user_white.png" alt="Login"></a></li>
                <li><a href="#" class="magnifying"><img src="../imgs/icons/magnifying_white.png" alt="Search"></a></li>
                <li class="global">
                    <a href="#"><img src="../imgs/icons/global_white.png" alt="Language"></a>
                    <ul class="language">
                        <li><a href="#">한국어</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </li>
                <li><a href="#" class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a></li>
            </ul>

        </div>
    </header>

    <main>
        <h1>기타 연주 배우기</h1>
        <h2>How to Play the Guitar</h2>
    </main>

    <section class="code">
        <h3>기본 코드</h3>
        <p>기타의 줄은 총 6개로 이루어져 있으며 코드표의 맨 윗 줄 부터 1번이고 가장 아랫 줄은 6번입니다. 한편, 기타를 잡았을 때 위에서 보이는 첫 번째 줄은 6번 줄이고 가장 아랫 줄은 1번 줄입니다. 반대로 생각하시면 이해하기 쉽습니다. 각 마디는 플렛이라고 하며 가장 좌측부터 1번 플렛이 됩니다. 코드표를 읽으실 때에도 마찬가지이며, 코드표 아래에 숫자로 플렛의 위치가 표기됩니다.</p>
        <img src="imgs/code.jpeg" alt="codes">
        <div class="fret clearfix">
            <img src="imgs/fret_code.jpg" alt="basic sound">
            <p>현을 누르지 않은 상태에서 각 기타줄이 가지고 있는 기본 음은 1번 줄부터 차례대로 미, 시, 솔, 라, 미 입니다. 1번 플렛부터 3번 플렛까지의 기본 음을 숙지하는 것이 좋습니다.</p>
        </div>
    </section>

    <section class="pose">
        <h3>기타 연주의 기초-자세</h3>
        <div class="posture clearfix">
            <div class="left">
                <img src="imgs/posture.jpg" alt="posture">
            </div>

            <div class="right">
                <h4>01 연주 기본 자세<br>·<br>·</h4>
            </div>
        </div>
        <div class="left_hand clearfix">
            <div class="left">
                <h4>왼손의 손가락 위치 02<br>·<br>·</h4>
            </div>

            <div class="right">
                <img src="imgs/classic_form.jpg" alt="classic finger form">
                <p><strong>클래식, 재즈스타일</strong><br>손가락을 핑거 보드에 수직으로 놓는 스타일로 보통 클래식, 재즈 등에 쓰입니다. 엄지손가락의 위치는 네크 뒤쪽의 한 가운데에서 자기 앞의 사이에서 움직입니다. 손가락은 눕히지 말고 핑거 보드와 수직이 되도록 손가락 바닥 중심 부분으로 줄을 누릅니다.</p>
                <img src="imgs/rock_form.jpg" alt="rock finger form">
                <p><strong>록 스타일</strong><br>손가락이 전반적으로 뉘게 놓습니다. 엄지손가락은 핑거 보드에 걸치는 느낌이고 손바닥을 네트에 대는 스타일입니다.이 폼을 우리는 록스타일이라고 부릅니다.</p>
            </div>
        </div>
        <div class="right_hand clearfix">
            <div class="left">
                <img src="imgs/pick.png" alt="grap a pick">
                <p>팔꿈치의 각도는 기타,스트랩의 위치에 따라서 다르지만 90도 정도가 가장 일반적입니다. 팔굼치는 몸통에 붙이고 팔, 손 바닥은 기타에서 뗍니다. 새끼 손가락, 약손가락은 피크 가드에 붙여서 가볍게 떠받쳐도 됩니다. 손 바닥에 무게를 실어 얹으면 절대 안 됩니다. 연주도중에 가볍게 올려놓는 것은 상관없지만 보편적으로는 올려놓지 않는 편이 좋습니다. 손 바닥을 올려놓음으로써 손의 피킹행동법위가 좁아 지게 되어 빠른피킹을 할 수가 없기 때문입니다.</p>
            </div>

            <div class="right">
                <h4>03 피크 쥐기<br>·<br>·</h4>
            </div>
        </div>
    </section>

    <section class="stroke">
        <h3>기타 연주의 기초-스트로크</h3>
        <div class="stroke_inner clearfix">
            <div class="left">
                <h4>스트로크 방법 04<br>·<br>·</h4>
                <img src="imgs/downstroke.jpg" alt="down stroke">
                <p>다운 스트로크시 피크의 각도</p>

                <img src="imgs/upstroke.jpg" alt="up stroke">
                <p>업 스트로크시 피크의 각도</p>
            </div>
            <div class="right">
                <img src="imgs/stroke_ex.png" alt="stroke example">
                <p>↑↓↑↓↑↓↑↓↑↓↑↓ <br>다운 스트로크와 업 스트로크 피킹에는 다운,업 스트로크의 두가지 방법이 있습니다. 다운 스트로크는 위에서 아래로 피킹, 업 스트로크는 반대로 아래에서 위로 피킹하는 방법입니다. 영문자 n처럼 생긴 것은 다운 스트로크를, V처럼 생긴 것은 업 스트로크를 의미합니다.</p>
            </div>
        </div>
    </section>

    <section class="stroke_type">
        <div class="calypso clearfix">
            <div class="left">
                <img src="imgs/stroke_calypso.jpg" alt="calypso">
                <p><strong>아무 곡에나 붙여도 잘 어울리는 주법</strong><br>중간에 회색 화살표는 공피킹(헛스트로크) 입니다.</p>
            </div>
            <div class="right">
                <h4>칼립소 스트로크</h4>
            </div>
        </div>
        <div class="gogo clearfix">
            <div class="left">
                <h4>고고 스트로크</h4>
            </div>
            <div class="right">
                <img src="imgs/stroke_gogo.jpeg" alt="gogo">
                <p><strong>인디(rock) 스러운 주법</strong><br>16비트 주법인데 쉬운 편에 속하는 16비트라 많이 사랑받는 스트로크입니다.<br>보통 강세를 세번째 다운스트로크에 많이 넣습니다.</p>
            </div>
        </div>
        <div class="modern clearfix">
            <div class="left">
                <img src="imgs/stroke_modern.png" alt="modern">
                <p>꾸밈을 넣어 연주를 하고 싶을 때 많이 쓰이는 16비트 스트로크입니다.<br>강세는 첫 다운스트로크에 넣는 경우가 많습니다.</p>
            </div>
            <div class="right">
                <h4>모던 스트로크</h4>
            </div>
        </div>
        <div class="more_btn">
            <a href="https://www.youtube.com/c/gibsonguitar">깁슨 App 다운받고 영상으로 쉽게 기타 배우기</a>
        </div>
    </section>

    <footer>
        <div class="family_site">
            <h4>VISIT THE GIBSON BRANDS FAMILY</h4>
            <ul class="clearfix">
                <li><a href="http://www.steinberger.com/"><img src="../imgs/logo/Steinberger.jpg" alt="Steinberger"></a></li>
                <li class="krk"><a href="https://www.krkmusic.com/"><img src="../imgs/logo/KRK.jpg" alt="KRK"></a></li>
                <li><a href="https://www.epiphone.com/"><img src="../imgs/logo/Epiphone.jpg" alt="Epiphone"></a></li>
                <li><a href="https://www.kramerguitars.com/"><img src="../imgs/logo/Kramer.jpg" alt="Kramer"></a></li>
                <li><a href="https://mesaboogie.com/"><img src="../imgs/logo/MesaBoogie.jpg" alt="Mesa Boogie"></a></li>
            </ul>
        </div>

        <div class="footer_bottom">
            <div class="footer_menu clearfix">
                <div class="footer_left">
                    <ul>
                        <li><a href="#">구매 가능 매장 찾기(온/오프라인)</a></li>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">개인정보취급방침</a></li>
                        <li><a href="#">서비스센터 찾기</a></li>
                    </ul>

                    <p>Copyright 2020 Gibson Brands, Inc. All rights reserved.</p>
                </div>
                <div class="footer_right">
                    <div class="sns">
                        <p>팔로우하기</p>
                        <a href="https://www.instagram.com/gibsonguitar/" class="instagram">Instagram</a>
                        <a href="https://www.facebook.com/Gibson/" class="facebook">Facebook</a>
                        <a href="https://twitter.com/gibsonguitar" class="twitter">Twitter</a>
                        <a href="https://www.linkedin.com/company/gibson-guitar" class="linkedin">Linkedin</a>
                        <a href="https://www.youtube.com/c/gibsonguitar" class="youtube">Youtube</a>
                    </div>
                    <div class="apps">
                        <p>다운로드</p>
                        <a href="https://play.google.com/store/apps/details?id=com.zoundio.amped&hl=en_US&gl=US" class="google">Google Play Store</a>
                        <a href="https://apps.apple.com/us/app/gibson/id1116032929" class="apple">App Store</a>
                    </div>

                    <p>Customer Support(US &amp; Canada): <span>1-800-4</span></p>
                </div>
            </div>
        </div>

    </footer>

</body>

</html>
