@charset "utf-8";


h3 {
    padding: 40px;
    background: url(../imgs/icons/title_guitar.png) no-repeat 1% 35%;
    color: #555;
}
input, select {
    outline: none;
    border: none;
}
/*main*/
main {
    width: 100%;
    height: 550px;
    background: url(../imgs/rent_bg.jpg) no-repeat;
    text-align: center;
}
main h1 {
    padding-top: 250px;
    font-size: 40px;
    color: white;
}
main h2 {
    padding-top: 15px;
    font-size: 28px;
    font-weight: 200;
    color: white;
    position: relative;
    font-family: 'Charter','sans-serif';
}
main h2:after {
    position: absolute;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #daa150;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}

/*flow****************************/
.flow {
    margin: 100px auto;
    width: 100%;
    overflow: hidden;
}
.flow h3 {
    display: block;
    width: 1280px;
    margin: 0 auto 50px;
}

.flowbox ul {
    width: 250%;
    position: relative;
}
.flowbox ul li {
    width: 10%;
    display: block;
    float: left;
    position: relative;
    text-align: center;
}
.flowbox ul li .ibox {
    display: block;
    position: absolute;
    width: 65%;
    height: 100px;
    text-align: center;
    background-color: #daa150;
    color: #fff;
    padding: 10px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.5;
    font-weight: 500;
    border-radius: 20px;
    opacity: 0;
}
.flowbox ul li .ibox p {
    margin-top: 10px;
}
.flowbox ul li .ibox span {
    display: block;
    margin: 10px 0 20px;
    font-weight: 300;
    font-size: 16px;
}
.ibox::after {
    content: "";
    display: block;
    position: absolute;
    top: -14%;
    left: 50%;
    /*margin-left: -10px;*/
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent; /*보더를 이용한 화살표 만들기 방법!*/
    border-right: 20px solid transparent;
    border-bottom: 20px solid #daa150;
}
.flow .flow_btn {
    margin: 120px auto 0;
    width: 66px;
    height: 36px;
    border: 3px solid #daa150;
    background-color: #daa150;
    border-radius: 50px;
    position: relative;
    box-sizing: border-box;
}
.flow_btn p {
    color: white;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
}
.flow_btn p span {
    width: 50%;
    box-sizing: border-box;
    padding-left: 5%;
    opacity: 0;
}
.flow_btn p span:last-child {
    box-sizing: border-box;
    padding-left: 5%;
    opacity: 1;
}
.flow_btn a {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    top: 0;
    left: 0;
}
.flow_btn a.on {
    left: 30px;
}
.flow>p {
    text-align: center;
    padding: 50px 0 100px;
}




/*rent_form*/
.rent_form {
    width: 100%;
    height: 1200px;
    padding-top: 80px;
    background: url(../imgs/rent_form.jpg) no-repeat center;
}
.rent_inner {
    width: 800px;
    height: 1000px;
    margin: 50px auto 0;
    border-radius: 120px 0;
    background-color: rgba(255,255,255,0.7);
}
.rent_inner form {
    width: 600px;
    padding: 30px;
    margin: 0 auto;
}
.rent_inner form h4 {
    font-size: 26px;
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid #ddd;
}
.rent_inner form .rent_li {
    padding: 20px 0;
    font-size: 18px;
}
.li_fst {
    margin-top: 30px;
}
.rent_li::after {
    content: "";
    display: block;
    clear: both;
}
.rent_li p {
    float: left;
    line-height: 40px;
}
.rent_li input {
    float: right;
    width: 400px;
    height: 40px;
}
.rent_li select {
    float: right;
    width: 400px;
    height: 40px;
}
.rent_per p {
    float: none;
    margin-bottom: 40px;
    padding-top: 30px;
    border-top: 2px solid #ddd;
}
.rent_li ul li {
    display: block;
}
.rent_li ul li span {
    display: block;
}
.rent_li ul li span:first-child {
    float: left;
    margin-top: 10px;
}
.rent_li ul li span:last-child {
    font-size: 14px;
    color: #777;
    clear: both;
    padding: 10px 0;
}

.rent_date {
    display: none;
}
.rent_submit {
    margin: 20px auto 0;
    display: block;
    padding: 20px 50px;
    font-size: 20px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 70px;
    color: #777;
    cursor: pointer;
}
.rent_submit:hover {
    background-color: #fff;
}


