<div class="family_site">
    <h4>VISIT THE GIBSON BRANDS FAMILY</h4>
    <ul class="clearfix">
        <li><a href="http://www.steinberger.com/"><img
                    src="{{ url_for('static', filename='imgs/logo/Steinberger.jpg') }}" alt="Steinberger"></a>
        </li>
        <li class="krk"><a href="https://www.krkmusic.com/"><img
                    src="{{ url_for('static', filename='imgs/logo/KRK.jpg') }}" alt="KRK"></a></li>
        <li><a href="https://www.epiphone.com/"><img src="{{ url_for('static', filename='imgs/logo/Epiphone.jpg') }}"
                    alt="Epiphone"></a></li>
        <li><a href="https://www.kramerguitars.com/"><img src="{{ url_for('static', filename='imgs/logo/Kramer.jpg') }}"
                    alt="Kramer"></a></li>
        <li><a href="https://mesaboogie.com/"><img src="{{ url_for('static', filename='imgs/logo/MesaBoogie.jpg') }}"
                    alt="Mesa Boogie"></a></li>
    </ul>
</div>

<div class="footer_bottom">
    <div class="footer_menu clearfix">
        <div class="footer_left">
            <ul>
                <li><a href="#">구매 가능 매장 찾기(온/오프라인)</a></li>
                <li><a href="#">고객센터</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보취급방침</a></li>
                <li><a href="#">서비스센터 찾기</a></li>
            </ul>

            <p>Copyright 2020 Gibson Brands, Inc. All rights reserved.</p>
        </div>
        <div class="footer_right">
            <div class="sns">
                <p>Follow</p>
                <a href="https://www.instagram.com/gibsonguitar/" class="instagram">Instagram</a>
                <a href="https://www.facebook.com/Gibson/" class="facebook">Facebook</a>
                <a href="https://twitter.com/gibsonguitar" class="twitter"></a>
                <a href="https://www.linkedin.com/company/gibson-guitar" class="linkedin"></a>
                <a href="https://www.youtube.com/c/gibsonguitar" class="youtube"></a>
            </div>
            <div class="apps">
                <p>Download</p>
                <a href="https://play.google.com/store/apps/details?id=com.zoundio.amped&hl=en_US&gl=US"
                    class="google"></a>
                <a href="https://apps.apple.com/us/app/gibson/id1116032929" class="apple"></a>
            </div>

            <p>Customer Support(US &amp; Canada): <span>1-800-4</span></p>
        </div>
    </div>
</div>