<!DOCTYPE html>
<html lang="ko">

{% include 'sub_head.html' ignore missing %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sub_acoustic.css') }}">
<script src="{{ url_for('static', filename='js/sub_acoustic.js') }}"></script>

<body>
    {% include 'sub_header.html' ignore missing %}

    <div class="main">
        <h1>어쿠스틱 기타</h1>
        <h2>Acoustic Guitar</h2>
    </div>

    <div class="inbody">
        <section class="guitar_list">
            <div class="acoustic clearfix">
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="{{ url_for('static', filename='imgs/guitars/acoustic/L00-standard.png') }}"
                        alt="L00 standard">
                    <p>L00 standard</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="{{ url_for('static', filename='imgs/guitars/acoustic/50sJ-45Original.png') }}"
                        alt="50s J-45 Original">
                    <p>50s J-45 Original</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="{{ url_for('static', filename='imgs/guitars/acoustic/50sJ-50Original.png') }}"
                        alt="50s J-50 Original">
                    <p>50s J-50 Original</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="{{ url_for('static', filename='imgs/guitars/acoustic/60sJ-45Original.png') }}"
                        alt="60s J-45 Original">
                    <p>60s J-45 Original</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="{{ url_for('static', filename='imgs/guitars/acoustic/60sJ-50Original.png') }}"
                        alt="60s J-50 Original">
                    <p>60s J-50 Original</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="{{ url_for('static', filename='imgs/guitars/acoustic/DoveOriginal.png') }}"
                        alt="Dove Original">
                    <p>Dove Original</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="{{ url_for('static', filename='imgs/guitars/acoustic/HummingbirdOriginal.png') }}"
                        alt="Hummingbird Original">
                    <p>Hummingbird Original</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="{{ url_for('static', filename='imgs/guitars/acoustic/J-185Original.png') }}"
                        alt="J-185 Original">
                    <p>J-185 Original</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="{{ url_for('static', filename='imgs/guitars/acoustic/j-45.png') }}" alt="j-45">
                    <p>j-45</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="{{ url_for('static', filename='imgs/guitars/acoustic/J-45_StudioRosewood.png') }}"
                        alt="J-45 Studio Rosewood">
                    <p>J-45 Studio Rosewood</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="{{ url_for('static', filename='imgs/guitars/acoustic/SongwriterStandardRosewood.png') }}"
                        alt="Songwriter Standard Rosewood">
                    <p>Songwriter Standard Rosewood</p>
                </div>
                <div class="guitar_box">
                    <div class="guitar_bg"></div>
                    <img src="{{ url_for('static', filename='imgs/guitars/acoustic/SouthernJumboOriginal.png') }}"
                        alt="Southern Jumbo Original">
                    <p>Southern Jumbo Original</p>
                </div>
            </div>
        </section>
    </div>

    {% include 'footer.html' ignore missing %}
</body>

</html>