<!DOCTYPE html>
<html lang="ko">

{% include 'sub_head.html' ignore missing %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sub_rent.css') }}">
<script src="{{ url_for('static', filename='js/sub_main.js') }}"></script>
<script src="{{ url_for('static', filename='js/sub_rent.js') }}"></script>

<body>

    {% include 'sub_header.html' ignore missing %}

    <main>
        <h1>악기 렌트하기</h1>
        <h2>Guitar Rental</h2>
    </main>

    <section class="flow">
        <h3>현재 렌트 가능한 기타 목록</h3>
        <div class="flowbox">
            <ul class="clearfix">
                <li>
                    <a href="#"><img src="{{ url_for('static', filename='imgs/guitars/electric/1956_LesPaul.png') }}"
                            alt="Les Paul"></a>
                    <a href="#" class="ibox">
                        <p>Les Paul 1956<br><span>₩100,000</span></p>
                    </a>
                </li>
                <li>
                    <a href="#"><img src="{{ url_for('static', filename='imgs/guitars/acoustic/50sJ-45Original.png') }}"
                            alt="50s J-450 Original"></a>
                    <a href="#" class="ibox">
                        <p>J-450 Original 50s<br><span>₩100,000</span></p>
                    </a>
                </li>
                <li>
                    <a href="#"><img src="{{ url_for('static', filename='imgs/guitars/acoustic/j-45.png') }}"
                            alt="J-45"></a>
                    <a href="#" class="ibox">
                        <p>J-45<br><span>₩90,000</span></p>
                    </a>
                </li>
                <li>
                    <a href="#"><img src="{{ url_for('static', filename='imgs/guitars/bass/SG_StandardBass.png') }}"
                            alt="SG Standard Bass"></a>
                    <a href="#" class="ibox">
                        <p>SG Standard Bass<br><span>₩100,000</span></p>
                    </a>
                </li>
                <li>
                    <a href="#"><img
                            src="{{ url_for('static', filename='imgs/guitars/electric/1959_ES-355Reissue.png') }}"
                            alt="ES-355"></a>
                    <a href="#" class="ibox">
                        <p>ES-335 Reissue 1959<br><span>₩150,000</span></p>
                    </a>
                </li>
                <li>
                    <a href="#"><img
                            src="{{ url_for('static', filename='imgs/guitars/electric/JimiHendrix1969_FlyingV.png') }}"
                            alt="Jimi Hendrix 1969 Flying V"></a>
                    <a href="#" class="ibox">
                        <p>Flying V Jimi Hendrix 1969<br><span>₩140,000</span></p>
                    </a>
                </li>
                <li>
                    <a href="#"><img
                            src="{{ url_for('static', filename='imgs/guitars/electric/1959_ES-355WatermelonRedLightAged.png') }}"
                            alt="1959 ES-355 Watermelon Red Light Aged"></a>
                    <a href="#" class="ibox">
                        <p>ES-335 Watermelon<br>Red Light Aged 1959<br><span>₩170,000</span></p>
                    </a>
                </li>
                <li>
                    <a href="#"><img
                            src="{{ url_for('static', filename='imgs/guitars/electric/1968_LesPaulCustomReissue.png') }}"
                            alt="1968 Les Paul Custom Reissue"></a>
                    <a href="#" class="ibox">
                        <p>Les Paul Custom Reissue 1968<br><span>₩100,000</span></p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="flow_btn clearfix">
            <p>
                <span>ON</span>
                <span>OFF</span>
            </p>
            <a href="#"></a>
        </div>
        <p>*기재되어있는 금액은 14일 기준입니다. 기간별 가격은 상세 페이지에 기재되어 있습니다.</p>
    </section>

    <section class="rent_form">
        <div class="rent_inner">
            <form action="rent_application">
                <h4>기타 렌트 신청서 작성</h4>
                <div class="rent_li li_fst">
                    <p>이름</p>
                    <input type="text">
                </div>
                <div class="rent_li">
                    <p>연락처</p>
                    <input type="tel">
                </div>
                <div class="rent_li">
                    <p>이메일 주소</p>
                    <input type="email">
                </div>
                <div class="rent_li">
                    <p>깁슨 홈페이지 아이디</p>
                    <input type="text">
                </div>
                <div class="rent_li">
                    <p>렌트 신청 기타명</p>
                    <select name="guitarName" id="">
                        <option value="기타명 선택">기타명 선택</option>
                        <option value="LesPaul1956">Les Paul 1956</option>
                        <option value="Les Paul Custom Reissue 1968">Les Paul Custom Reissue 1968</option>
                        <option value="SG Standard Bass">SG Standard Bass</option>
                        <option value="ES-335 Reissue 1959">ES-335 Reissue 1959</option>
                        <option value="ES-335 Watermelon">ES-335 Watermelon</option>
                        <option value="Flying V Jimi Hendrix 1969">Flying V Jimi Hendrix 1969</option>
                        <option value="J-45">J-45</option>
                        <option value="J-450 Original 50s">J-450 Original 50s</option>
                    </select>
                </div>
                <div class="rent_li rent_per">
                    <p>신청 기간</p>
                    <ul>
                        <li><span>렌트 시작일</span><input type="date"><span>*저녁 6시 이후 픽업시 시작일 당일은 금액에 포함되지 않습니다.</span></li>
                        <li><span>렌트 종료일</span><input type="date"><span>*렌트 종료일 자정까지 이용 가능하며 당일 선반납시 할인되는 금액은
                                없습니다.</span></li>
                    </ul>
                </div>
                <div class="rent_li rent_date">
                    <p>신청일</p>
                    <input type="datetime" hidden>
                </div>

                <input type="submit" class="rent_submit" value="렌트 신청하기">
            </form>
        </div>
    </section>

    {% include 'footer.html' ignore missing %}
</body>

</html>