<!DOCTYPE html>
<html lang="ko">

{% include 'sub_head.html' ignore missing %}
<link rel="stylesheet" href="{{ url_for('static', filename='}css/sub_feature.css') }">
<script src="{{ url_for('static', filename='js/sub_main.js') }}"></script>
<script src="{{ url_for('static', filename='js/sub_feature.js') }}"></script>

<body>

    {% include 'sub_header.html' ignore missing %}

    <main>
        <h1>깁슨 기타의 특징</h1>
        <h2>The Feature of Gibson</h2>
    </main>

    <section class="feature_con">
        <p>깁슨에서 만드는 대부분의 일렉트릭 기타는 처음 나왔을 때부터 현재까지 로즈우드 지판에 마호가니 바디라는 특징을 유지하며, 바이올린족이나 만돌린과 같은 고전적인 악기들처럼 곡선을 살린 디자인이
            소리의 울림에 유리하다는 철학을 가지고 특유의 독특한 디자인을 내세우고 있습니다. 특히 레스폴이나 할로우바디 기타에서 잘 드러나며, 이런 디자인을 기타의 상판부분이 아치형을 이루고 있다 하여
            아치탑이라고 부릅니다.<br><br>깁슨은 전통적인 악기 제작 방식에 가깝게 바디와 넥을 가공하여 접착시켜 만들기 때문에 대량 생산의 방법으로 만들어지지 않습니다. 하지만 깁슨 특유의 깊은
            울림과 두꺼운 사운드는 이러한 제작방식에서만 나온다는 철학으로 이러한 방식을 고수하고 있습니다.<br><br>또한 깁슨 악기들에 주로 들어가는 탑(바디의 윗부분) 역시 아치탑을 사용하며, 이
            방식 또한 공정이 복잡하지만, 깁슨의 소리 철학에 의해 지금도 계속 사용되고 있습니다.<br><br>이러한 깁슨의 소리에 대한 연구는 다른 많은 기타 업체에 큰 영향을 주어 왔습니다.</p>
    </section>

    <section class="process">
        <div class="process_wrap">
            <div class="process_txt">
                <h3>깁슨의 제작 과정</h3>
                <p>The Process</p>
            </div>
            <div class="process_video clearfix">
                <div class="b_frame">
                    <iframe src="https://www.youtube.com/embed/lxwLEiVnGDk" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="s_frame">
                    <ul>
                        <li>
                            <a href="#">Episode 1
                                <!--<img src="imgs/ep1.jpg" alt="">-->
                                <span><iframe src="https://www.youtube.com/embed/npOOEWaTadA?controls=0"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">Episode 2
                                <span><iframe src="https://www.youtube.com/embed/lxwLEiVnGDk?controls=0"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">Episode 3
                                <span><iframe src="https://www.youtube.com/embed/lhS2gGCeDyo?controls=0"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">Episode 4
                                <span><iframe src="https://www.youtube.com/embed/d05le5SY2X8?controls=0"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">Episode 5
                                <span><iframe src="https://www.youtube.com/embed/KnMSUu-frLM?controls=0"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">Episode 6
                                <span><iframe src="https://www.youtube.com/embed/K5RzXCNnBvk?controls=0"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="dbar">
                    <img id="bar" src="{{ url_for('static', filename='imgs/icons/drag_bar.png') }}" alt="drag bar">
                </div>
            </div>
            <a href="https://www.youtube.com/user/GibsonGuitarCorp" class="process_btn">깁슨 유튜브 팔로우하러 가기
                <img src="{{ url_for('static', filename='imgs/icons/more_r.png') }}" alt="깁슨 유튜브 페이지로 이동">
                <span>click</span>
            </a>
        </div>
    </section>

    {% include 'footer.html' ignore missing %}
</body>

</html>