<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Gibson_history</title>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="css/sub_header.css">
    <link rel="stylesheet" href="css/sub_history.css">
    <link rel="stylesheet" href="../css/footer.css">

    <script src="../js/jquery-1.12.4.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/jquery.rotate.js"></script>
    <script src="js/sub_main.js"></script>
    <script src="js/sub_history.js"></script>
</head>

<body>
    <header>
        <div class="header_wrap clearfix">
            <div class="logo_box">
                <a href="../index.html"><img src="../imgs/logo/gibson_small.png" alt="Gibson"></a>
            </div>

            <nav class="clearfix">
                <ul class="main_menu clearfix">
                    <li>
                        <a href="#">깁슨소개<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_history.html">연혁<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_feature.html">깁슨 기타의 특징<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_maintaining.html">기타 관리 노하우<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">제품구매<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_electric.html">일렉트릭 기타<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_acoustic.html">어쿠스틱 기타<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_acc.html">부품<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">깁슨의 음악<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_musicians.html">깁슨 뮤지션 스토리<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_play.html">기타 배우기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">고객지원<span class="menu_bar"></span></a>
                        <ul class="sub_menu">
                            <li><a href="sub_fix.html">수리/튜닝 신청<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_dealers.html">서비스센터/대리점 찾기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_news.html">소식&amp;이벤트<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_FAQ.html">FAQ<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                            <li><a href="sub_rent.html">악기 렌트하기<img src="../imgs/icons/more_icon.png" alt=""></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <ul class="user_menu">
                <li><a href="#"><img src="../imgs/icons/user_white.png" alt="Login"></a></li>
                <li><a href="#" class="magnifying"><img src="../imgs/icons/magnifying_white.png" alt="Search"></a></li>
                <li class="global">
                    <a href="#"><img src="../imgs/icons/global_white.png" alt="Language"></a>
                    <ul class="language">
                        <li><a href="#">한국어</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </li>
                <li><a href="#" class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a></li>
            </ul>

        </div>
    </header>

    <main>
        <h1>회사 연혁</h1>
        <h2>Gibson History</h2>
    </main>

    <section class="history clearfix">
        <h3>깁슨은 창립 이래 세계 최고의 기타 브랜드로 명성을 떨치고 있습니다.<br>차별화된 소리를 연구하는 깁슨의 발자취를 둘러보세요.</h3>

        <div id="drag">
            <img src="imgs/icons/history_drag.png" alt="drag_bar" id="bar">
        </div>
        <div class="year year1">
            <div class="left">
                <img src="imgs/Orville_gibson.jpg" alt="Orville Gibson">
                <p><span>Orville Gibson</span></p>
            </div>
            <div class="right">
                <h4>1856</h4>
                <p>Orville Gibson의 탄생</p>

                <h4>1898</h4>
                <p>1898년 디자인 특허 출원</p>
            </div>
        </div>
        <div class="year year2">
            <div class="left">
                <h4>1902</h4>
                <p>깁슨의 시초인 Gibson Mandolin-Guitar Mfg. Co, Ltd. 설립</p>

                <h4>1919</h4>
                <p>1918년 오빌 깁슨은 세상을 떠나고, 깁슨사는 악기 디자이너 Lloyd Loar 고용</p>
            </div>
            <div class="right">
                <img src="imgs/Lloyd_Loar.jpg" alt="Lloyd Loar">
                <p><span>Lloyd Allayre Loar (1886.01.09-1943.09.14)</span>미국의 음악가, 악기 디자이너 및 사운드 엔지니어였던 그는 F-5 모델 만돌린과 L-5 기타 등의 디자인 작업으로 가장 잘 알려져 있음. Bill Monroe에 의해 유명해진 그가 디자인한 만돌린은 현재 200,000달러를 호가함 </p>
            </div>
        </div>
        <div class="year year3">
            <div class="left">
                <img src="imgs/mandolin.jpg" alt="Mandolins">
                <p><span>Gibson F-5 Mandolin</span> <span>Gibson L-5 어쿠스틱</span><br>깁슨의 F-5 만돌린은 이후 미국 만돌린의 표준이 됨. L-5 어쿠스틱 기타는 "컨트리 음악의 전체 역사에서 가장 중요한 싱글 기타"라고 불리고 있음
                </p>
            </div>
            <div class="right">
                <h4>1922</h4>
                <p>Lloyd Loar는 만돌린의 주 종류 중 하나가 되는 f-5만돌린 개발 / 일반적인 포크 기타의 앞뒤가 평평한 디자인에 깁슨 특유의 아치를 접목시킨 아치탑 어쿠스틱 기타인 L-5를 발표</p>
            </div>
        </div>
        <div class="year year4">
            <div class="left">
                <h4>1936</h4>
                <p>최초의 아치탑 할로우바디 일렉트릭 기타인 ES-150을 발매하고 이 때 깁슨의 ES라인이 확립됨</p>
            </div>
            <div class="right">
                <img src="imgs/ES-150.png" alt="ES-150">
                <p><span>ES-150 "Charlie Christian"</span>ES-150은 세계 최초로 상업적인 성공을 거둔 스페니쉬 스타일의 일렉트릭 기타로 알려져 있음</p>
            </div>
        </div>
        <div class="year year5">
            <div class="left">
                <img src="imgs/TedMcCarty.jpg" alt="Ted McCarty">
                <p><span>Ted McCarty</span>테드 맥카티는 깁슨에 스카웃된지 단 2년만인 1950년에 깁슨의 사장 자리에 오르게 됨. 레스폴 시리즈를 출시한 것으로 유명</p>
            </div>
            <div class="right">
                <h4>1948</h4>
                <p>악기 전문가 테드 맥카티(Ted McCarty)를 스카웃</p>
            </div>
        </div>
        <div class="year year6">
            <div class="left">
                <h4>1949</h4>
                <p>깁슨의 상징 중 하나라 할 수 있는 하단부 컷어웨이를 적용하여 연주의 편의성을 올린 ES-175 발표</p>
            </div>
            <div class="right">
                <img src="imgs/ES-175.jpg" alt="ES-175">
                <p><span>ES-175</span>ES-175는 풀사이즈 할로우바디 기타의 기준점 중 하나가 되었고 많은 재즈 기타리스트들이 깁슨의 악기를 선택하는 계기가 됨
                </p>
            </div>
        </div>
        <div class="year year7">
            <div class="left">
                <img src="imgs/LesPaul.jpg" alt="Les Paul Guitarist">
                <p><span>기타리스트 Les Paul</span></p>
            </div>
            <div class="right">
                <h4>1952</h4>
                <p>1950년 사장이 된 테드 맥카티는 Les Paul과 함께 솔리드 바디 일렉트릭 기타를 개발. 그것은 현재까지도 최고의 일렉트릭 기타로 불리는 레스폴 시리즈가 됨</p>
            </div>
        </div>
        <div class="year year8">
            <div class="left">
                <h4>1950s 중반</h4>
                <p>"세미할로우"로 불리는 Thinline 시리즈 발표</p>
            </div>
            <div class="right">
                <img src="imgs/TheFirst_LesPaul.png" alt="The First Les Paul">
                <p><span>최초의 Les Paul</span>마호가니 바디에 고전적인 곡선을 살린 아치형의 메이플탑을 올리고 솝바 싱글 픽업을 2개 장착한, 깁슨 레스폴의 기념비적인 첫 모델인 "'52 골드탑"'모델</p>
            </div>
        </div>
        <div class="year year9">
            <div class="left">
                <img src="imgs/ES-355.png" alt="ES-355">
                <p><span>ES-355</span>세계 최초로 상용화되어 발매된 씬라인(Thinline) 아치탑 세미 일렉트릭 기타. 비비킹, 노앨갤러거 등의 유명 뮤지션들이 선택한 기타</p>
            </div>
            <div class="right">
                <h4>1958</h4>
                <p>당시 유행하던 더블컷 디자인을 적용시킨 전설적인 모델 ES-355를 발표하여 많은 퓨전/록 음악 기타리스트들에게 사랑받는 악기로 자리잡음</p>
            </div>
        </div>

        <div class="now">
            <h4>현재</h4>
        </div>
    </section>

    <footer>
        <div class="family_site">
            <h4>VISIT THE GIBSON BRANDS FAMILY</h4>
            <ul class="clearfix">
                <li><a href="http://www.steinberger.com/"><img src="../imgs/logo/Steinberger.jpg" alt="Steinberger"></a></li>
                <li class="krk"><a href="https://www.krkmusic.com/"><img src="../imgs/logo/KRK.jpg" alt="KRK"></a></li>
                <li><a href="https://www.epiphone.com/"><img src="../imgs/logo/Epiphone.jpg" alt="Epiphone"></a></li>
                <li><a href="https://www.kramerguitars.com/"><img src="../imgs/logo/Kramer.jpg" alt="Kramer"></a></li>
                <li><a href="https://mesaboogie.com/"><img src="../imgs/logo/MesaBoogie.jpg" alt="Mesa Boogie"></a></li>
            </ul>
        </div>

        <div class="footer_bottom">
            <div class="footer_menu clearfix">
                <div class="footer_left">
                    <ul>
                        <li><a href="#">구매 가능 매장 찾기(온/오프라인)</a></li>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">개인정보취급방침</a></li>
                        <li><a href="#">서비스센터 찾기</a></li>
                    </ul>

                    <p>Copyright 2020 Gibson Brands, Inc. All rights reserved.</p>
                </div>
                <div class="footer_right">
                    <div class="sns">
                        <p>팔로우하기</p>
                        <a href="https://www.instagram.com/gibsonguitar/" class="instagram">Instagram</a>
                        <a href="https://www.facebook.com/Gibson/" class="facebook">Facebook</a>
                        <a href="https://twitter.com/gibsonguitar" class="twitter">Twitter</a>
                        <a href="https://www.linkedin.com/company/gibson-guitar" class="linkedin">Linkedin</a>
                        <a href="https://www.youtube.com/c/gibsonguitar" class="youtube">Youtube</a>
                    </div>
                    <div class="apps">
                        <p>다운로드</p>
                        <a href="https://play.google.com/store/apps/details?id=com.zoundio.amped&hl=en_US&gl=US" class="google">Google Play Store</a>
                        <a href="https://apps.apple.com/us/app/gibson/id1116032929" class="apple">App Store</a>
                    </div>

                    <p>Customer Support(US &amp; Canada): <span>1-800-4</span></p>
                </div>
            </div>
        </div>

    </footer>
</body>

</html>
