<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sub_header.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/sub_acc.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

    <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.rotate.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/sub_acc.js') }}"></script> -->
</head>