<!DOCTYPE html>
<html lang="ko">

{% include 'sub_head.html' ignore missing %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sub_acc.css') }}">
<script src="{{ url_for('static', filename='js/sub_acc.js') }}"></script>

<body>
    {% include 'sub_header.html' ignore missing %}

    <div class="main">
        <h1>부품</h1>
        <h2>Accessories</h2>
    </div>

    <div class="inbody">
        <div class="acc_menu clearfix">
            <ul class="clearfix">
                <li><a href="#">Straps</a></li>
                <li><a href="#">Cases</a></li>
                <li><a href="#">Stands</a></li>
                <li><a href="#">Capos</a></li>
                <li><a href="#">Picks</a></li>
                <li><a href="#">Cleaning &amp; care</a></li>
            </ul>
        </div>

        <section class="acc_list">
            <div class="straps clearfix">
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/theEmber.png" alt="theEmber">
                    <p>The Ember</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/theGarden.png" alt="theGarden">
                    <p>The Garden</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/theOrangeLily.png" alt="theOrangeLily">
                    <p>The Orange Lily</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/thePrimrose.png" alt="thePrimrose">
                    <p>The Primrose</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/theMontana.png" alt="theMontana">
                    <p>The Montana</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/theClassic.png" alt="theClassic">
                    <p>The Classic</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/theSeatbelt.png" alt="theSeatbelt">
                    <p>The Seatbelt</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/TheLightningBoltSeatbelt.png" alt="theLightningBoltSeatBelt">
                    <p>The Lightning Bolt Seatbelt</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/ThePremiumSaddle.png" .png alt="thePremiumSaddle">
                    <p>The Premium Saddle</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/theDove.png" alt="theDove">
                    <p>The Dove</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/TheHummingbird.png" alt="theHummingbird">
                    <p>The Hummingbird</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/theRetro.png" alt="theRetro">
                    <p>The Retro</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/TheSplitDiamond.png" alt="theSplitDiamond">
                    <p>The Split Diamond</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/TheWesternVintage.png" alt="theWesternVintage">
                    <p>The Western Vintage</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/TheModernVintage.png" alt="theModernVintage">
                    <p>The Modern Vintage</p>
                </div>
            </div>

            <div class="cases clearfix">
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/DeluxeProtectorCase_LesPaul.png" alt="Deluxe Protector Case Les Paul">
                    <p>Deluxe Protector Case, Les Paul</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/DeluxeProtectorCase_SG.png" alt="Deluxe Protector Case SG">
                    <p>Deluxe Protector Case, SG</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/SignatureSeriesCaltonCase_Hummingbird_J-45.png"
                        alt="Gibson Signature Series Calton Case Hummingbird J-45">
                    <p>Gibson Signature Series Calton Case, Hummingbird J-45</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/SignatureSeriesCaltonCase_F-5_Mandolin.png"
                        alt="Gibson Signature Series Calton Case F-5 Mandolin">
                    <p>Gibson Signature Series Calton Case F-5 Mandolin</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/SignatureSeriesCaltonCase_Banjo.png"
                        alt="Gibson Signature Series Calton Case Banjo">
                    <p>Gibson Signature Series Calton Case Banjo</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/LesPaulGuitarCase_Silverburst.png"
                        alt="Adam Jones Les Paul Guitar Case Silverburst">
                    <p>Adam Jones Les Paul Guitar Case, Silverburst</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/HistoricReplicaLesPaulCase_Hand-Aged.png"
                        alt="Historic Replica Les Paul Case Hand-Aged">
                    <p>Historic Replica Les Paul Case, Hand-Aged</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/ES-339Case_ClassicBrown.png" alt="ES-339 Case Classic Brown">
                    <p>ES-339 Case, Classic Brown</p>
                </div>
            </div>

            <div class="stands clearfix">
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/HandcraftedWoodenGuitarStand_Walnut.png"
                        alt="Handcrafted Wooden Guitar Stand Walnut">
                    <p>Handcrafted Wooden Guitar Stand, Walnut</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/HandcraftedWoodenGuitarStand_Mahogany.png"
                        alt="Handcrafted Wooden Guitar Stand Mahogany">
                    <p>Handcrafted Wooden Guitar Stand, Mahogany</p>
                </div>
            </div>

            <div class="capos clearfix">
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/SplitDiamondInlay_Capo.png" alt="Split Diamond Inlay Capo">
                    <p>Split Diamond Inlay Capo</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/SplitParallelogramInlay_Capo.png" alt="Split Parallelogram Inlay Capo">
                    <p>Split Parallelogram Inlay Capo</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/LargeBlockInlay_Capo.png" alt="Large Block Inlay Capo">
                    <p>Large Block Inlay Capo</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/HummingbirdKoa_Capo.png" alt="Hummingbird Koa Capo">
                    <p>Hummingbird Koa Capo</p>
                </div>
            </div>

            <div class="picks clearfix">
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/ModernPicks_6%20Pack.png" alt="Modern Picks 6 Pack">
                    <p>Modern Picks, 6 Pack</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/StandardPickTin_50pcs.png" alt="Standard Pick Tin 50pcs">
                    <p>Standard Pick Tin (50 pcs.)</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/WedgePicks_72Pack.png" alt="Wedge Picks 72 Pack">
                    <p>Wedge Picks, 72 Pack</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/TortoisePicks_12Pack.png" alt="Tortoise Picks 12 Pack">
                    <p>Tortoise Picks, 12 Pack</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/TortoisePicks_12Pack.png" alt="Tortoise Picks 12 Pack">
                    <p>Tortoise Picks, 12 Pack</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/StandardPicks_72Pack.png" alt="Standard Picks 72 Pack">
                    <p>Standard Picks, 72 Pack</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/WhitePearlPicks_12Pack.png" alt="White Pearl Picks 12 Pack">
                    <p>White Pearl Picks, 12 Pack</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/PremiumLeatherPickholderKeychain.png" alt="Premium Leather Pickholder Keychain">
                    <p>Premium Leather Pickholder Keychain</p>
                </div>
            </div>

            <div class="care clearfix">
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/PremiumPolishCloth.png" alt="Premium Polish Cloth">
                    <p>Premium Polish Cloth</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/GuitarCareKit.png" alt="Guitar Care Kit">
                    <p>Guitar Care Kit</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/LuthiersChoiceTriplePack.png" alt="Luthiers Choice Triple Pack">
                    <p>Luthier's Choice Triple Pack</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/GuitarPolish.png" alt="Guitar Polish">
                    <p>Guitar Polish</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/PolishCloth.png" alt="Polish Cloth">
                    <p>Polish Cloth</p>
                </div>
                <div class="acc_box">
                    <div class="acc_bg"></div>
                    <img src="imgs/acc/Multi-Tool.png" alt="Multi Tool">
                    <p>Multi-Tool</p>
                </div>
            </div>
        </section>
    </div>

    {% include 'footer.html' ignore missing %}
</body>

</html>