<!DOCTYPE html>
<html lang="ko">

{% include 'sub_head.html' ignore missing %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sub_play.css') }}">
<script src="{{ url_for('static', filename='js/sub_main.js') }}"></script>
<script src="{{ url_for('static', filename='js/sub_play.js') }}"></script>

<body>

    {% include 'sub_header.html' ignore missing %}

    <main>
        <h1>기타 연주 배우기</h1>
        <h2>How to Play the Guitar</h2>
    </main>

    <section class="code">
        <h3>기본 코드</h3>
        <p>기타의 줄은 총 6개로 이루어져 있으며 코드표의 맨 윗 줄 부터 1번이고 가장 아랫 줄은 6번입니다. 한편, 기타를 잡았을 때 위에서 보이는 첫 번째 줄은 6번 줄이고 가장 아랫 줄은 1번
            줄입니다. 반대로 생각하시면 이해하기 쉽습니다. 각 마디는 플렛이라고 하며 가장 좌측부터 1번 플렛이 됩니다. 코드표를 읽으실 때에도 마찬가지이며, 코드표 아래에 숫자로 플렛의 위치가
            표기됩니다.</p>
        <img src="{{ url_for('static', filename='imgs/code.jpeg') }}" alt="codes">
        <div class="fret clearfix">
            <img src="{{ url_for('static', filename='imgs/fret_code.jpg') }}" alt="basic sound">
            <p>현을 누르지 않은 상태에서 각 기타줄이 가지고 있는 기본 음은 1번 줄부터 차례대로 미, 시, 솔, 라, 미 입니다. 1번 플렛부터 3번 플렛까지의 기본 음을 숙지하는 것이 좋습니다.
            </p>
        </div>
    </section>

    <section class="pose">
        <h3>기타 연주의 기초-자세</h3>
        <div class="posture clearfix">
            <div class="left">
                <img src="{{ url_for('static', filename='imgs/posture.jpg') }}" alt="posture">
            </div>

            <div class="right">
                <h4>01 연주 기본 자세<br>·<br>·</h4>
            </div>
        </div>
        <div class="left_hand clearfix">
            <div class="left">
                <h4>왼손의 손가락 위치 02<br>·<br>·</h4>
            </div>

            <div class="right">
                <img src="{{ url_for('static', filename='imgs/classic_form.jpg') }}" alt="classic finger form">
                <p><strong>클래식, 재즈스타일</strong><br>손가락을 핑거 보드에 수직으로 놓는 스타일로 보통 클래식, 재즈 등에 쓰입니다. 엄지손가락의 위치는 네크 뒤쪽의 한 가운데에서
                    자기 앞의 사이에서 움직입니다. 손가락은 눕히지 말고 핑거 보드와 수직이 되도록 손가락 바닥 중심 부분으로 줄을 누릅니다.</p>
                <img src="{{ url_for('static', filename='imgs/rock_form.jpg') }}" alt="rock finger form">
                <p><strong>록 스타일</strong><br>손가락이 전반적으로 뉘게 놓습니다. 엄지손가락은 핑거 보드에 걸치는 느낌이고 손바닥을 네트에 대는 스타일입니다.이 폼을 우리는
                    록스타일이라고 부릅니다.</p>
            </div>
        </div>
        <div class="right_hand clearfix">
            <div class="left">
                <img src="{{ url_for('static', filename='imgs/pick.png') }}" alt="grap a pick">
                <p>팔꿈치의 각도는 기타,스트랩의 위치에 따라서 다르지만 90도 정도가 가장 일반적입니다. 팔굼치는 몸통에 붙이고 팔, 손 바닥은 기타에서 뗍니다. 새끼 손가락, 약손가락은 피크 가드에
                    붙여서 가볍게 떠받쳐도 됩니다. 손 바닥에 무게를 실어 얹으면 절대 안 됩니다. 연주도중에 가볍게 올려놓는 것은 상관없지만 보편적으로는 올려놓지 않는 편이 좋습니다. 손 바닥을
                    올려놓음으로써 손의 피킹행동법위가 좁아 지게 되어 빠른피킹을 할 수가 없기 때문입니다.</p>
            </div>

            <div class="right">
                <h4>03 피크 쥐기<br>·<br>·</h4>
            </div>
        </div>
    </section>

    <section class="stroke">
        <h3>기타 연주의 기초-스트로크</h3>
        <div class="stroke_inner clearfix">
            <div class="left">
                <h4>스트로크 방법 04<br>·<br>·</h4>
                <img src="{{ url_for('static', filename='imgs/downstroke.jpg') }}" alt="down stroke">
                <p>다운 스트로크시 피크의 각도</p>

                <img src="{{ url_for('static', filename='imgs/upstroke.jpg') }}" alt="up stroke">
                <p>업 스트로크시 피크의 각도</p>
            </div>
            <div class="right">
                <img src="{{ url_for('static', filename='imgs/stroke_ex.png') }}" alt="stroke example">
                <p>↑↓↑↓↑↓↑↓↑↓↑↓ <br>다운 스트로크와 업 스트로크 피킹에는 다운,업 스트로크의 두가지 방법이 있습니다. 다운 스트로크는 위에서 아래로 피킹, 업 스트로크는 반대로 아래에서
                    위로 피킹하는 방법입니다. 영문자 n처럼 생긴 것은 다운 스트로크를, V처럼 생긴 것은 업 스트로크를 의미합니다.</p>
            </div>
        </div>
    </section>

    <section class="stroke_type">
        <div class="calypso clearfix">
            <div class="left">
                <img src="{{ url_for('static', filename='imgs/stroke_calypso.jpg') }}" alt="calypso">
                <p><strong>아무 곡에나 붙여도 잘 어울리는 주법</strong><br>중간에 회색 화살표는 공피킹(헛스트로크) 입니다.</p>
            </div>
            <div class="right">
                <h4>칼립소 스트로크</h4>
            </div>
        </div>
        <div class="gogo clearfix">
            <div class="left">
                <h4>고고 스트로크</h4>
            </div>
            <div class="right">
                <img src="{{ url_for('static', filename='imgs/stroke_gogo.jpeg') }}" alt="gogo">
                <p><strong>인디(rock) 스러운 주법</strong><br>16비트 주법인데 쉬운 편에 속하는 16비트라 많이 사랑받는 스트로크입니다.<br>보통 강세를 세번째 다운스트로크에
                    많이 넣습니다.</p>
            </div>
        </div>
        <div class="modern clearfix">
            <div class="left">
                <img src="{{ url_for('static', filename='imgs/stroke_modern.png') }}" alt="modern">
                <p>꾸밈을 넣어 연주를 하고 싶을 때 많이 쓰이는 16비트 스트로크입니다.<br>강세는 첫 다운스트로크에 넣는 경우가 많습니다.</p>
            </div>
            <div class="right">
                <h4>모던 스트로크</h4>
            </div>
        </div>
        <div class="more_btn">
            <a href="https://www.youtube.com/c/gibsonguitar">깁슨 App 다운받고 영상으로 쉽게 기타 배우기</a>
        </div>
    </section>

    {% include 'footer.html' ignore missing %}

</body>

</html>